<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=TeamSupportDev;Persist Security Info=True;User ID=sa;Password=muroc" />
    <add key="ServiceName" value="TeamSupportTimeSync"/>
    <add key="ServiceDisplayName" value="TeamSupport TimeSync"/>
    <add key="UpdateIntervalMS" value="60"/>
    <add key="MaxVarianceMS" value="5000"/>
  </appSettings>
</configuration>
