<div id="{{TicketID}}" class="flexbox align strip">
    <div class="flex push link" style="padding:5px 10px;font-size:12px;"><a target="_blank" class="list-group-item" href="{{ReturnURL}}">{{Name}}</a></div>
    <div class="flex pull icon" style="padding:5px 10px;vertical-align:top;"><i class="fas fa-external-link-square" style="font-size:16px;"></i></div>
</div>
