<div id="chart">

    <i class="fa fa-times close hover"></i>

    <div class="flexbox strip">
        <canvas id="myCanvas" width="700" height="450" style="border:0px solid #000000;background-color:white;"></canvas>
    </div>

</div>
