<div id="invalid" class="spacer">

    <i class="fa fa-times close hover"></i>

    <div class="flexbox strip">
        <div class="flex1">
            <p class="title yanone">Invalid Ticket Status</p>
            <p class="message">Warning, this ticket has an invalid ticket status. A new ticket status must be choosen, please do so below. Note that this ticket page will not function properly until this task is completed.</p>
        </div>
    </div>

    <div class="flexbox strip center">

        <select id="newStatus" class="center"></select>

    </div>

</div>
