<div class="form-horizontal">
    <div class="flexbox">
        <div class="flex1">
            <div class="form-label" for="ticket-isKB" class="select-label">KB</div>
        </div>
        <div class="flex2">
            <input id="ticket-isKB" type="checkbox">
        </div>
    </div>
</div>

<div class="form-horizontal" id="ticket-group-KBCat">
    <div class="flexbox">
        <div class="flex1">
            <div for="ticket-KB-Category" class="form-label">Category</div>
        </div>
        <div class="flex2">
            <select id="ticket-KB-Category" class="hidden-select muted-placeholder" placeholder="unassigned">
                <option>unassigned</option>
            </select>
        </div>
    </div>
</div>

<div class="form-horizontal" id="ticket-KBVisible-RO" style="display:none;">
    <div class="flexbox">
        <div class="flex1">
            <div for="ticket-DueDate" class="form-label">KB</div>
        </div>
        <div class="flex2">
            <label id="ticket-isKB-RO" class="control-label"></label>
        </div>
    </div>
</div>

<div class="form-horizontal" id="ticket-KBCat-RO" style="display:none;">
    <div class="flexbox">
        <div class="flex1">
            <div for="ticket-KB-Category-RO" class="select-label">KB</div>
        </div>
        <div class="flex2">
            <label id="ticket-KB-Category-RO" class="control-label"></label>
        </div>
    </div>
</div>
