<div class="form-horizontal">
  
    <div class="form-group form-group-sm">
        <label for="ticket-SLAStatus" class="col-sm-4 control-label select-label">SLA Status</label>

        <div class="col-sm-8 ticket-input-container">

            <label id="ticket-SLAStatus" class="ticket-sla-status pull-left control-label SLAAnchor">
                <i class="fa fa-bomb"></i>
            </label>

            <label id="ticket-SLANote" class="ticket-sla-status-note pull-left control-label" style="line-height: 20px; padding-top: 3px; padding-left: 0px; color: #333333;"></label>
        </div>

    </div>

</div>
