<div class="form-horizontal">

    <div class="form-group form-group-sm">
        <label id="ticket-status-label" for="ticket-status" class="col-sm-4 control-label select-label">Status</label>

        <div class="col-sm-8 ticket-input-container">
            <select id="ticket-status" class="form-control hidden-select muted-placeholder" placeholder="Change Status">
                <option>Unassigned</option>
            </select>
        </div>
        
    </div>

</div>
