
<div class="form-horizontal" style="margin-top:20px;">

    <div class="form-group form-group-sm">

        <div class="col-sm-4 form-label">

            <label for="ticket-assigned" class="select-label">Assigned</label>

        </div>

        <div class="col-sm-8 form-input ticket-input-container">

            <select id="ticket-assigned" class="hidden-select muted-placeholder" placeholder="Assign User">

                <option>Unassigned</option>

            </select>

        </div>

    </div>

</div>
