<div class="form-horizontal">
    <div class="form-group form-group-sm">
        <label for="ticket-DaysOpened" class="col-sm-4 control-label"></label>
        <div class="col-sm-8 ticket-input-container">
            <label id="ticket-DaysOpened" class="control-label"></label>
        </div>
    </div>
</div>
