<div class="form-group ticket-group" id="ticket-group-Tasks">
    <div class="taskContainer">
        <a class="btn btn-link new-task" style="color: #428bca; font-size: 12px; margin-bottom:10px; width:100%;">Add Task</a>
        <span id="ticket-task-span"></span>
    </div>
</div>
