<div class="form-horizontal">
    <div class="form-group form-group-sm">

        <label for="ticket-type" class="col-sm-4 control-label select-label">Type</label>

        <div class="col-sm-8 ticket-input-container">

            <select id="ticket-type" class="form-control ticket-select hidden-select muted-placeholder" placeholder="Change Type">
                <option>Unassigned</option>
            </select>

        </div>

    </div>
</div>
