<div class="form-horizontal">
    <div class="form-group form-group-sm">
        <label for="ticket-TimeSpent" class="col-sm-4 control-label">Time</label>
        <div class="col-sm-8 ticket-input-container">
            <label id="ticket-TimeSpent" class="control-label" style="color: #333333;"></label>
        </div>
    </div>
</div>
