<div id="health-properties" class="flexbox">
    <div class="flex1">
        <strong>Ticket Sentiment</strong>
        <div id="health-ticket">
            <div id="health-meter"></div>
            <span id="health-message" class="disabled">Health Unknown</span>
        </div>
    </div>
    <div class="flex1">
        <div id="health-emotions"></div>
    </div>
</div>
