<div class="form-horizontal">
    <div class="form-group form-group-sm">

        <div class="col-sm-4 form-label">

            <label for="ticket-type" class="select-label">Type</label>

        </div>

        <div class="col-sm-8 form-input ticket-input-container">

            <select id="ticket-type" class="ticket-select hidden-select muted-placeholder" placeholder="Change Type">

                <option>Unassigned</option>

            </select>

        </div>

    </div>

</div>
