<div class="form-horizontal">
    <div class="flexbox">
        <div class="flex1">
            <div id="ticket-status-label" class="form-label" for="ticket-status" class="select-label">Status</div>
        </div>
        <div class="flex2">
            <select id="ticket-status" class="hidden-select muted-placeholder" placeholder="unassigned">
                <option>unassigned</option>
            </select>
        </div>
    </div>
</div>
