<div class="form-horizontal">

    <div class="form-group form-group-sm">

        <div class="col-sm-4 form-label">

            <label for="ticket-group" class="select-label">Group</label>

        </div>

        <div class="col-sm-8 form-input ticket-input-container">

            <select id="ticket-group" class="hidden-select muted-placeholder" placeholder="unassigned">

                <option>unassigned</option>

            </select>

        </div>

    </div>

</div>
