<div class="form-horizontal">
  
    <div class="form-group form-group-sm">

        <label for="ticket-visible" class="col-sm-4 control-label">Visible</label>

        <div class="col-sm-8 ticket-input-container">

            <div class="checkbox" style="padding-top:5px;">
                <input id="ticket-visible" type="checkbox" style="margin-left: -15px;">
            </div>

        </div>
    </div>
</div>
