<div class="form-horizontal">

    <div class="form-group form-group-sm">

        <div class="col-sm-4 form-label">

            <label for="ticket-isKB" class="select-label">KB</label>

        </div>

        <div class="col-sm-8 form-input ticket-input-container" style="padding-top:5px;">

                <input id="ticket-isKB" type="checkbox">


        </div>

    </div>

</div>

<div class="form-horizontal" id="ticket-group-KBCat">

    <div class="form-group form-group-sm">

        <div class="col-sm-4 form-label">

            <label for="ticket-KB-Category" class="select-label">Category</label>

        </div>

        <div class="col-sm-8 form-input ticket-input-container">

            <select id="ticket-KB-Category" class="hidden-select muted-placeholder" placeholder="Assign Category">

                <option>Unassigned</option>

            </select>

        </div>

    </div>

</div>

<div class="form-horizontal" id="ticket-KBVisible-RO" style="display:none;">

    <div class="form-group form-group-sm">

        <div class="col-sm-4 form-label">

            <label for="ticket-DueDate" class="select-label">KB</label>

        </div>

        <div class="col-sm-8 form-input ticket-input-container">

            <label id="ticket-isKB-RO" class="control-label"></label>

        </div>

    </div>

</div>

<div class="form-horizontal" id="ticket-KBCat-RO" style="display:none;">

    <div class="form-group form-group-sm">

        <div class="col-sm-4 form-label">

            <label for="ticket-KB-Category-RO" class="select-label">KB</label>

        </div>

        <div class="col-sm-8 form-input ticket-input-container">

            <label id="ticket-KB-Category-RO" class="control-label"></label>

        </div>

    </div>

</div>
