<div class="form-horizontal">
    <div class="form-group form-group-sm">
        <label for="ticket-DueDate" class="col-sm-4 control-label">Due Date</label>
        <div id="ticket-duedate-container" class="col-sm-8 ticket-input-container" style="padding-top: 6px;">
            <!--<input id="ticket-DueDate" class="form-control" type="text" />-->
        </div>
    </div>
</div>
