<div class="form-horizontal">

    <div class="form-group form-group-sm">

        <div class="col-sm-4 form-label">

            <label for="ticket-severity" class="control-label select-label">Severity</label>

        </div>

        <div class="col-sm-8 form-input ticket-input-container">

            <select id="ticket-severity" class="form-control ticket-select hidden-select muted-placeholder" placeholder="Assign Severity">

                <option>Unassigned</option>

            </select>

        </div>

    </div>

</div>
