<div class="form-horizontal">

    <div class="form-group form-group-sm">

        <div class="col-sm-4 form-label">

            <label for="ticket-visible" class="select-label">Visible</label>

        </div>

        <div class="col-sm-8 form-input ticket-input-container">

            <div class="checkbox" style="padding-top:5px;">

                <input id="ticket-visible" type="checkbox">

            </div>

        </div>

    </div>

</div>
