<div class="form-horizontal">
    <div class="flexbox">
        <div class="flex1">
            <div class="form-label" for="ticket-TimeSpent" class="select-label">Time Spent</div>
        </div>
        <div class="flex2">
            <div id="ticket-TimeSpent"></div>
        </div>
    </div>
</div>
