<div class="form-horizontal">

    <div class="form-group form-group-sm">

        <div class="col-sm-4 form-label">

            <label for="ticket-status" class="control-label select-label">Status</label>

        </div>

        <div class="col-sm-8 ticket-input-container">

            <select id="ticket-status" class="form-control hidden-select muted-placeholder" placeholder="Change Status">

                <option>Unassigned</option>

            </select>

        </div>

    </div>

</div>
