<div class="form-horizontal">

    <div class="form-group form-group-sm">
        <label for="ticket-Product-Resolved-Version" class="col-sm-4 control-label select-label">Resolved <abbr title="Version">Ver.</abbr></label>

        <div class="col-sm-8 ticket-input-container">
            <select id="ticket-Resolved" class="hidden-select"></select>
        </div>
        
    </div>

</div>
