<div id="ticket-snowfields" class="form-horizontal">
	<div id="incidentNumber" class="form-group form-group-sm">

		<label for="incidentNumberValue" class="col-sm-4 control-label">
			Incident:
		</label>

		<div id="ticket-incident-container" class="col-sm-8 ticket-input-container" style="padding-top: 6px;">
			<span id="incidentNumberValue"></span>
			<i id="snowUnlink" class="glyphicon glyphicon-remove" style="font-size:10px;cursor:pointer;position:relative;left:5px;"></i>
		</div>

	</div>

	<div id="enterIncident" style="display:none;">

		<div class="ticket-snow-incident">
			<label>Existing Incident Number:</label>
			<input id="incidentNumberInput" type="text" class="form-control" style="margin-bottom:5px;" />
		</div>

		<div class="flexbox" style="text-align:right;">
			<div class="flex1" style="padding:5px;"><button id="saveIncidentNumberButton" class="btn btn-sm btn-default">Save</button></div>
			<div class="flex1" style="padding:5px;"><button id="cancelIncidentNumberButton" class="btn btn-sm btn-default">Cancel</button></div>
		</div>

	</div>

	<div class="ts-snow-buttons-container flexbox">
		<div class="flex1" style="padding:5px;"><button id="newSnowIncident" class="btn btn-default btn-block">New Incident Number</button></div>
		<div class="flex1" style="padding:5px;"><button id="existingSnowIncident" class="btn btn-default btn-block">Existing Incident</button></div>
	</div>
</div>