<div class="form-horizontal">
    <div class="flexbox">
        <div class="flex1">
            <div class="form-label" for="ticket-SLAStatus" class="select-label">SLA Status</div>
        </div>
        <div class="flex2">
            <div id="ticket-SLAStatus" class="ticket-sla-status pull-left control-label SLAAnchor">
                <i class="fa fa-bomb"></i>
            </div>
            <div id="ticket-SLANote" class="ticket-sla-status-note pull-left" style="line-height:20px;padding-top:2px;padding-left:2px;color:#333333;"></div>
        </div>
    </div>
</div>
