<div id="ticket-tfsfields" class="form-horizontal">

    <div id="workItemTitle" class="form-group form-group-sm">

        <label for="workItemTitleValue" class="col-sm-4 control-label">
          Work Item Title:
        </label>

        <div id="ticket-workItemTitle-container" class="col-sm-8 ticket-input-container" style="padding-top: 6px;">
            <span id="workItemTitleValue"></span>
            <i id="tfsUnlink" class="glyphicon glyphicon-remove" style="font-size:10px; cursor:pointer; position:relative; left:5px;"></i>
        </div>

    </div>

    <div id="enterWorkItemTitle" style="display:none;">

        <div class="ticket-tfs-workItem">
            <label>Existing TFS Work Item ID:</label>
            <input id="workItemIDInput" type="text" class="form-control" style="margin-bottom:5px;" />
        </div>

        <div style="text-align:right">
            <button id="saveWorkItemTitleButton" class="btn btn-sm btn-default">Save</button>
            <button id="cancelWorkItemTitleButton" class="btn btn-sm btn-default">Cancel</button>
        </div>
        
    </div>

    <div class="ts-tfs-buttons-container">
        <button id="newTFSWorkItem" class="btn btn-default btn-block">New TFS Work Item</button>
        <button id="existingTFSWorkItem" class="btn btn-default btn-block">Existing TFS Work Item</button>
    </div>

</div>
