<div class="form-horizontal">
    <div class="form-group form-group-sm">
        <label for="ticket-isKB" class="col-sm-4 control-label">KB</label>
        <div class="col-sm-8 ticket-input-container">
            <div class="checkbox" style="padding-top:5px;">
                <input id="ticket-isKB" type="checkbox" style="margin-left: -15px;">
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group form-group-sm" id="ticket-group-KBCat">
        <label for="ticket-KB-Category" class="col-sm-4 control-label select-label">Category</label>
        <div class="col-sm-8 ticket-input-container">
            <select id="ticket-KB-Category" class="form-control hidden-select muted-placeholder" placeholder="Assign Category">
                <option>Unassigned</option>
            </select>
        </div>
    </div>
</div>
<div class="form-horizontal" id="ticket-KBVisible-RO" style="display:none;">
    <div class="form-group form-group-sm">
        <label for="ticket-DueDate" class="col-sm-4 control-label">KB</label>
        <div class="col-sm-8 ticket-input-container">
            <label id="ticket-isKB-RO" class="control-label"></label>
        </div>
    </div>
</div>
<div class="form-horizontal" id="ticket-KBCat-RO" style="display:none;">
    <div class="form-group form-group-sm">
        <label for="ticket-KB-Category-RO" class="col-sm-4 control-label">KB</label>
        <div class="col-sm-8 ticket-input-container">
            <label id="ticket-KB-Category-RO" class="control-label"></label>
        </div>
    </div>
</div>
