<div class="form-horizontal">

    <div class="form-group form-group-sm">

        <div class="col-sm-4 form-label">

            <label id="label-days"  for="ticket-DaysOpened" class="select-label">Days Open</label>

        </div>

        <div class="col-sm-8 form-input ticket-input-container">

            <label id="ticket-DaysOpened" class="control-label"></label>

        </div>

    </div>

</div>
