<div class="form-horizontal">
    <div class="flexbox">
        <div class="flex1">
            <div class="form-label" id="label-sentiment" for="ticket-Sentiment">Sentiment</div>
        </div>
        <div class="flex2">
            <div id="ticket-Sentiment"></div>
        </div>
    </div>
</div>
