<div class="form-group ticket-group">
    <!--<label for="ticket-tags" class="TagCategoryLabel">Tags:&nbsp;</label>-->
    <div class="tagContainer">
        <input id="ticket-tag-Input" class="tagInput ui-autocomplete-input" type="text" placeholder="Add Tag" style="font-size:12px; margin-bottom: 10px; padding-left: 5px; padding-top: 8px;" autocomplete="off"> <span id="ticket-tags"></span>
    </div>
</div>
