<div class="form-horizontal">
    <div class="form-group form-group-sm">
        <label for="ticket-assigned" class="col-sm-4 control-label select-label">Assigned</label>
        <div class="col-sm-8 ticket-input-container">
            <select id="ticket-assigned" class="form-control hidden-select muted-placeholder" placeholder="Assign User">
                <option>Unassigned</option>
            </select>
        </div>
    </div>
</div>
