<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=dev-sql.corp.teamsupport.com; Initial Catalog=TeamSupportBeta;Persist Security Info=True;User ID=Dev-Sql-WebApp;Password=TeamSupportDev;Connect Timeout=20;MultipleActiveResultSets=True" />
    <add key="WatsonGatewayUrl" value="https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone_chat?version=2016-05-19" />
    <add key="WatsonUsername" value="75f88a51-aeb0-4e8a-aec4-eecde7eb3c69" />
    <add key="WatsonPassword" value="bIxcZyzZBfBD" />
    <add key="SQLSelectFromActions" value="SELECT top 1 a.[ActionID], a.[TicketID],a.[Description],  t.[CreatorID], a.[CreatorID], u.[OrganizationID], (CASE WHEN (Select [OrganizationID] From Users where userid = t.[CreatorID] ) = u.[OrganizationID] THEN 0 ELSE 1 END ) as [IsAgent] FROM Actions a INNER JOIN Users u ON a.[CreatorID] = u.[UserID] INNER JOIN Organizations o ON o.[OrganizationID] = u.[OrganizationID] INNER JOIN Tickets t ON a.[TicketID] = t.[TicketID] WHERE  a.[IsVisibleOnPortal] = 0 AND t.[IsVisibleOnPortal] = 0 AND ( SELECT [ProductType] FROM Organizations where OrganizationId in (Select [OrganizationID] From Users where userid = t.[CreatorID] ) ) =2 AND a.[CreatorID] != -1 AND ActionID > (SELECT Max([ActionID]) from [ActionSentiments]) ORDER BY [ActionID] Asc" />
    <add key="ConnectionString2" value="Data Source=dev-sql.corp.teamsupport.com; Initial Catalog=TeamSupportBeta;Persist Security Info=True;User ID=Dev-Sql-WebApp;Password=TeamSupportDev;Connect Timeout=20;MultipleActiveResultSets=True" />
    <add key="SQLSelectFromActionsToAnalyze" value="SELECT TOP 1 [ActionToAnalyzeID],[ActionID],[TicketID],[UserID],[OrganizationID],[IsAgent],[DateCreated],[ActionDescription] FROM [TeamSupportBeta].[dbo].[ActionToAnalyze]" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SQLSelectFromActionsScrubber" value="SELECT TOP 1 ActionScrubberID, ActionID, TicketID, UserID, DateCreated, ActionDescription FROM [ActionSentiment] ORDER BY ActionID Asc" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>