<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=dev-sql.corp.teamsupport.com; Initial Catalog=TeamSupportNightly;Persist Security Info=True;User ID=Dev-Sql-WebApp;Password=TeamSupportDev;Connect Timeout=20;MultipleActiveResultSets=True" />
    <!--add key="ConnectionString" value="Data Source=NA1-SQL01; Persist Security Info=True; User ID=NA1-SQL-WebApp; Password=2016$5HpC-1x72-4ECn-87a9; Initial Catalog=TeamSupport;Connect Timeout=5000; Application Name=TeamSupport.WatsonToneAnalyzerService" /-->    
    <add key="WatsonGatewayUrl" value="https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone_chat?version=2017-09-21" />
    <add key="WatsonUsername" value="fa728425-b8d9-4140-b1bf-6e4a43822ff0" />
    <add key="WatsonPassword" value="GnZb2XteLV5l" />
    <add key="WatsonUtterancePerAPICall" value="50" />
    <add key="SQLSelectFromActions" value="SELECT TOP 1 a.[ActionID], a.[TicketID], a.[Description], t.[CreatorID], a.[CreatorID], u.[OrganizationID], (CASE WHEN (SELECT [OrganizationID] FROM Users WHERE userid = t.[CreatorID]) = u.[OrganizationID] THEN 0 ELSE 1 END) AS [IsAgent] FROM Actions a JOIN Users u ON a.[CreatorID] = u.[UserID] JOIN Organizations o ON o.[OrganizationID] = u.[OrganizationID] JOIN Tickets t ON a.[TicketID] = t.[TicketID] WHERE o.UseWatson = 1 AND a.[IsVisibleOnPortal] = 0 AND t.[IsVisibleOnPortal] = 0 AND (SELECT [ProductType] FROM Organizations WHERE OrganizationId IN (SELECT [OrganizationID] FROM Users WHERE userid = t.[CreatorID])) = 2 AND a.[CreatorID] != -1 AND ActionID > (SELECT MAX([ActionID]) FROM [ActionSentiments]) ORDER BY [ActionID] ASC" />
    <add key="ConnectionString2" value="Data Source=dev-sql.corp.teamsupport.com; Initial Catalog=TeamSupportNightly;Persist Security Info=True;User ID=Dev-Sql-WebApp;Password=TeamSupportDev;Connect Timeout=20;MultipleActiveResultSets=True" />
    <add key="SQLSelectFromActionsToAnalyze" value="SELECT TOP 1 [ActionToAnalyzeID],[ActionID],[TicketID],[UserID],[OrganizationID],[IsAgent],[DateCreated],[ActionDescription] FROM [TeamSupportNightly].[dbo].[ActionToAnalyze]" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SQLSelectFromActionsScrubber" value="SELECT TOP 1 ActionScrubberID, ActionID, TicketID, UserID, DateCreated, ActionDescription FROM [ActionSentiment] ORDER BY ActionID Asc" />
    <add key="ActionsBatchSize" value="60" />
    <add key="WatsonInterval" value="60000" />
    <add key="WatsonQueryIntervalMinutes" value="120" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>