<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
      </assemblies>
    </compilation>

    <httpHandlers>
      <clear/>
    </httpHandlers>

    <httpModules>
      <clear/>
    </httpModules>
  </system.web>

  <system.webServer>
    <modules>
      <remove name="RestCommandModule" />
      <remove name="SessionModule" />
      <remove name="RadUploadModule" />
      <remove name="ImageResizingModule" />
    </modules>

    <handlers>
    </handlers>
  </system.webServer>
</configuration>