<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies/>
    </compilation>
    <httpHandlers>
      <clear/>
    </httpHandlers>
    <httpModules>
      <clear/>
    </httpModules>
    <httpRuntime maxRequestLength="4096" executionTimeout="20" appRequestQueueLimit="100000"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="RestCommandModule"/>
      <remove name="SessionModule"/>
      <remove name="RadUploadModule"/>
      <remove name="ImageResizingModule"/>
    </modules>
    <handlers/>
  </system.webServer>
</configuration>