<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BusinessObjectGenerator.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BusinessObjectGenerator.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BusinessObjectGenerator.AppSettings>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="TemplateFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="Database" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>muroc</value>
            </setting>
            <setting name="LastSchema" serializeAs="String">
                <value/>
            </setting>
            <setting name="TableGridSize" serializeAs="String">
                <value>286, 250</value>
            </setting>
            <setting name="TemplateGridSize" serializeAs="String">
                <value>256, 277</value>
            </setting>
            <setting name="SchemaBarLocation" serializeAs="String">
                <value>3, 25</value>
            </setting>
            <setting name="FileBarLocation" serializeAs="String">
                <value>84, 25</value>
            </setting>
            <setting name="TemplateBarLocation" serializeAs="String">
                <value>196, 25</value>
            </setting>
            <setting name="CreatorIDField" serializeAs="String">
                <value>CreatorID</value>
            </setting>
            <setting name="CreatedDateField" serializeAs="String">
                <value>DateCreated</value>
            </setting>
            <setting name="ModifierIDField" serializeAs="String">
                <value>ModifierID</value>
            </setting>
            <setting name="ModifiedDateField" serializeAs="String">
                <value>DateModified</value>
            </setting>
            <setting name="BaseItemClass" serializeAs="String">
                <value>BaseItem</value>
            </setting>
            <setting name="BaseCollectionClass" serializeAs="String">
                <value>BaseCollection</value>
            </setting>
            <setting name="DevelopmentPath" serializeAs="String">
                <value/>
            </setting>
        </BusinessObjectGenerator.AppSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
