/* MODALS. */

#modal {
    display:none;
    position:fixed;
    z-index:3000;
    top:50px;
    left:50%;
    bottom:auto;
    margin:0px auto;
    width:600px;
    background-color:white;
    box-shadow:3px 3px 0px rgba(0,0,0,0.1);
    overflow:visible;
    transform: translateX(-50%);
}
@media screen and (max-width:600px) {
    #modal {
        top:0px;
        left:0px;
        bottom:0px;
        right:0px;
        transform:none;
        width:100%;
    }
}

#modal .fa.close {
    position:absolute;
    z-index:3001;
    top:10px;
    right:10px;
    font-size:20px;
    opacity:0.3;
    color:black;
}

#modal .spacer {
    padding:30px 20px;
}
#modal .title {
    margin-top:30px;
    font-size:16px;
    font-weight:bold;
    text-align:center;
}
#modal .message {
    padding:30px;
    line-height:20px;
}
#modal .buttons {
    margin-top:30px;
    text-align:center;
}
#modal .center {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}



#modal .container .strip {
    padding:10px 20px;
}
#modal .container .strip.buttons {
    padding:20px 20px 0px !important;
    text-align:right;
}
#modal .container .cellular {
    padding:0px 10px;
}
#modal .container .cell {
    padding:10px;
}
#modal .container .label {
    vertical-align:middle;
    line-height:35px;
    font-size:11px;
}
#modal .container .has-error {
    background-color:rgba(251,190,204,0.3);
}
#modal .container .checkbox {
    padding:5px 0px 0px;
}
#modal .container span.fa {
    font-size:18px;
    opacity:0.7;
}



#overlay {
    display:none;
    position:fixed;
    z-index:2000;
    top:0px;
    right:0px;
    width:100%;
    max-width:100%;
    min-width:100%;
    height:100%;
    max-height:100%;
    min-height:100%;
    background-color:rgba(202,41,62,0.9);
}

#overlay #loading {
    margin:30px auto;
    font-size:40px;
    opacity:0.7;
    display:block;
    color:white;
}

@supports (-ms-ime-align: auto) {
    .modal-backdrop, .modal {
        position: absolute !important;
    }
}