<div class="form-group ticket-group">
    <!--<label for="ticket-AssociatedTickets" class="TagCategoryLabel">Associated Tickets:&nbsp;</label>-->
    <div class="tagContainer">
        <input id="ticket-AssociatedTickets-Input" class="tagInput hidden-select" type="text" placeholder="Add Related Ticket">
        <span id="ticket-AssociatedTickets" style="z-index:100;"></span>

    </div>
</div>
