<div class="form-group ticket-group">

    <div class="tagContainer">
        <input id="ticket-SubscribedUsers-Input" class="tagInput hidden-select" type="text" placeholder="Subscribe User">
        <span id="ticket-SubscribedUsers" style="z-index:100;"></span>

    </div>
</div>
