<div class="form-group ticket-group">
    <!--<label for="ticket-UserQueue" class="TagCategoryLabel">User Queues:&nbsp;</label>-->
    <div class="tagContainer">
        <input id="ticket-UserQueue-Input" class="tagInput hidden-select" type="text" placeholder="Add to Queue">
        <span id="ticket-UserQueue" style="z-index:100;"></span>

    </div>
</div>
