<div class="form-group ticket-group">
    <!--<label for="ticket-UserQueue" class="TagCategoryLabel">Inventory:&nbsp;</label>-->
    <div class="tagContainer">
        <input id="ticket-Inventory-Input" class="tagInput hidden-select" type="text" placeholder="Add Inventory">
        <span id="ticket-Inventory" style="z-index:100;"></span>

    </div>
</div>
