<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="MainConnection" connectionString="Data Source=KEVIN-M9340F;Initial Catalog=TeamSupport;Persist Security Info=True;User ID=sa;Password=muroc" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
