html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: #fff;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}



:focus { -moz-outline-style: none; outline:0; }

body { font-size: 12px;}
h1 { font-size: 1.5em; padding: .5em 0; }
h2 { font-size: 1.3em; padding: .5em 0;}
h3 { font-size: 1.2em; padding: .5em 0;}
td, th { padding: .5em .5em;}
thead th, tfoot td { font-weight:bold; }
p { padding: 0 0;}
ul { list-style-type:disc; }
ul,ol { margin: 1em 1em; }
li { margin: .5em .5em;}
strong { font-weight:bold;}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
blockquote { background-color:#E3EEFC; border: 1px solid #92B4DE; margin: 1em 0; padding: .5em .5em; font-family:courier; }
pre {border: 1px solid #92B4DE; margin: 1em 0; padding: .5em .5em; font-family:courier;}

.ts-clearfix { clear:both; height: 1px; }

.ui-widget-header a, .ui-widget-header a:link, .ui-widget-header a:visited, .ui-widget-header a:active { text-decoration: none;}
.ui-widget-header a:hover { text-decoration: underline;}
.ui-widget .ui-autocomplete-input, .ui-autocomplete-input, input.text  { padding: .2em .2em; text-align:left; height: 14px;}
.ui-menu .ui-menu-item a { padding: 0 .1em 0 .2em; }
.ui-button .ui-button-text-only, .ui-button-text-only .ui-button-text { line-height: 2em !important; padding: 0 .4em !important; }
.ui-button, .ui-widget .ui-button{ font-weight:normal; padding:0; }
label.checkbox { vertical-align: middle; margin: 0px; top:0; font-weight:bold; display:inline; }    
input.checkbox { vertical-align: middle; margin: 0px; top:0; display: inline; width: auto;}

/*
.label { padding: 0 0 .2em 0; display:block; font-size:1em; font-weight:bold; }
.label-block { float:left; padding: 1em 1em 0 0; vertical-align:middle;}
.label { font-weight:bold; display:block; margin: .5em 0 .25em 0; white-space:nowrap; }
.label-block { float:left; margin: 1em 1em 0 1em; display:inline; min-height: 4em;}
*/
.label { font-weight:bold; display:block; margin-bottom: .25em; white-space:nowrap; }
.label-block { float:left; margin: .25em .25em .25em 0; padding: .25em .25em; display:inline; height: 40px; border: 1px solid transparent; }
.label-block-nofloat {float: none; display: block; clear:both;}
.label-description { display:block; margin-bottom: .5em;}

.checkbox.label-block { line-height: 40px; height:40px; }
.checkbox.label-block label { vertical-align: middle; margin: 0px; top:0; font-weight:bold; padding-left: .5em;}    
.checkbox.label-block input { vertical-align: middle; margin: 0px; top:0;  }

.ts-loading { background-color: transparent; background-image: url('../images/loading/loading2.gif'); background-repeat: no-repeat;  background-position: 50% 25%; height:100%; min-height: 200px; }
.loading-indicator label {padding-left: 20px;	background: url('../images/ajax-loader-small.gif') no-repeat center left; }

.ts-rail-wrapper-right {float: left; width: 300px; margin-left: -300px;}
.ts-rail-right { border-top: none; border-bottom: none; border-right: none; margin-top: 0; padding: 0 .5em 1em 0; line-height: 1.5em; }
.ts-content-left { margin-right: 300px; padding: 0 1em 1em 1em; }
.ts-content-wrapper-left { float: left; width: 100%; }

.ts-rail-left { float: left; width: 300px; }
.ts-content-right { margin-left: 320px; }

.ts-setting-field { padding: 1em 0; border-top: 0; border-left: 0; border-right: 0;  border-style: dotted;}
.ts-setting-field.last { border: 0; }
.ts-setting-field.two-column .ts-setting-field-content { margin-left: 220px; }
.ts-setting-field.two-column .ts-setting-field-description { float: left; width: 200px; }
.ts-setting-field .ts-setting-field-description { font-weight: bold; font-size: 1.2em; }
.ts-setting-field p { padding: .5em 0 0 0; line-height: 1.25em; }
.ts-setting-field input.text { width: 250px;}
.ts-setting-field label.checkbox { margin-left: .25em; }
.ts-setting-field-content {}
.ts-setting-field-description { opacity: .65;}

.ts-checkbox input {line-height: 20px; float:left; margin-left: -20px; vertical-align:middle; width:auto;}
label.ts-checkbox {display:block; margin-bottom: 5px; min-height: 20px; padding-left: 20px; font-weight: normal; vertical-align:middle; line-height: 20px;}

.mceLayout .mceIframeContainer { background: #fff;}
.mceLayout td.mceIframeContainer { vertical-align:top;}
.mceLayout td.mceIframeContainer iframe { min-height: 75px;}
.mceContentBody { border: none; padding: .5em .5em;}
.o2k7Skin a.mce_insertTicket img.mceIcon, .o2k7Skin a.mce_insertKb img.mceIcon,  .o2k7Skin a.mce_recordScreen img.mceIcon { height: 16px; width: 16px; padding: 3px 0 0 2px; }

/*
.ts-separator { height: 1px; background-color:#D7E6F9;}
.ts-section { margin: .5em .5em; padding: 0 .5em .5em .5em; border: 2px solid #D7E6F9; clear:both;}
.ts-side-widget { background-color: #EDF4FC; }
.ts-content { background-image:none; border:none; overflow:auto; background-color: #EDF4FC;} 
*/
.ui-widget-content a.ts-link { border: none; background:none; cursor: pointer;}
.ts-color-bg-accent, .ui-widget-content.ts-color-bg-accent { background-color:#D5E5F7; /* #E3EEFC;*/ background-image: none;}
.ui-widget-content.ts-separator { height: 1px; border-bottom: none; border-left:none; border-right:none; margin-bottom: .5em; clear:both; }
.ts-content { background-image:none; border:none; overflow:auto; } 
.ts-section { margin: 1em 1em; padding: 1em .75em; border: none; clear:both;}
.ts-section h1, .ts-section h2, .ts-section h3 { color: #555; font-weight: normal; }
.ts-section h1 { font-size: 1.5em; margin: .5em 0; }
.ts-section h2 { font-size: 1.3em; margin: .5em 0; }
.ts-section h3 { font-size: 1.2em; margin: .5em 0; }


/* Old, but used in automation admin
.ts-section { margin: .5em .5em; padding: .5em .5em .5em .5em; border: none; clear:both;}
.ts-side-widget { background-color: #fff; }
.ts-content { background-image:none; border:none; overflow:auto; background-color: #fff;} 
.ts-content h1 { padding: .5em 0 .5em 0; font-size: 1.5em; }
.ts-content h2 { padding: .5em 0 .5em 0; font-size: 1.25em; }
.ts-content h2 { padding: .5em 0 .5em 0; font-size: 1em; }
 */


.ui-autocomplete-loading { background-image: url('../images/loading/loading_small2.gif'); background-position:  right center; background-repeat: no-repeat; }
.ui-autocomplete { z-index:99999 !important;}
.ui-datepicker { z-index:99999 !important;}

/* states and images */
.ts-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ts-icon { width: 16px; height: 16px; background-image: url(../images/ts_icons_normal.png); }
.ui-state-disabled.ts-icon { background-image: url(../images/ts_icons_disabled.png); }
.ui-state-hover .ts-icon, .ui-state-focus .ts-icon {background-image: url(../images/ts_icons_hover.png); }
.ts-icon-none { background-position: 99999px 99999px; }
/*button icon element(s) */
.ui-button-icon-only .ts-icon, .ui-button-text-icon-primary .ts-icon, .ui-button-text-icon-secondary .ts-icon, .ui-button-text-icons .ts-icon, .ui-button-icons-only .ts-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ts-icon { left: 50%; margin-left: -8px; }

/* ts-icons */
.ts-icon-triangle-n { background-position: 0 0; }
.ts-icon-triangle-e { background-position: -16px 0; }
.ts-icon-triangle-s { background-position: -32px 0; }
.ts-icon-triangle-w { background-position: -48px 0; }
.ts-icon-close-small { background-position: -464px -16px; }
.ts-icon-close { background-position: -896px 0; }
.ts-icon-open { background-position: -96px 0; }
.ts-icon-top { background-position: -592px 0; }
.ts-icon-add { background-position: -912px 0; }
.ts-icon-delete { background-position: -976px 0; }
.ts-icon-remove { background-position: -832px 0; }
.ts-icon-enqueue { background-position: -496px -16px; }
.ts-icon-takeownership { background-position: -368px 0; }
.ts-icon-request { background-position: -624px 0; }
.ts-icon-compose-email { background-position: -464px 0; }
.ts-icon-print { background-position: -1104px 0; }
.ts-icon-export { background-position: -592px 0; }
.ts-icon-history { background-position: -512px -16px; }
.ts-icon-refresh { background-position: -656px 0; }
.ts-icon-online { background-position: -352px 0; }
.ts-icon-offline { background-position: -832px 0; }
.ts-icon-chat { background-position: -288px -16px; }
.ts-icon-nochat { background-position: -288px -48px; }
.ts-icon-chat-small { background-position: -800px -16px; }
.ts-icon-nochat-small { background-position: -848px -16px; }
.ts-icon-online-small { background-position: -816px -16px; }
.ts-icon-offline-small { background-position: -832px -16px; }
.ts-icon-edit { background-position: -960px 0px; }
.ts-icon-cancel { background-position: -896px 0px; }
.ts-icon-save { background-position: -928px 0px; }
.ts-icon-saved { background-position: -1056px 0px; }
.ts-icon-new { background-position: -944px 0px; }
.ts-icon-read { background-position: -576px -16px; }
.ts-icon-unread { background-position: -560px -16px; }
.ts-icon-flagged { background-position: -576px 0px; }
.ts-icon-unflagged { background-position: -544px -16px; }
.ts-icon-subscribed { background-position: -384px 0; }
.ts-icon-unsubscribed { background-position: -592px -16px; }
.ts-icon-open-sla-violated { background-position: -608px -16px; }
.ts-icon-open-sla-warning { background-position: -624px -16px; }
.ts-icon-sla-good { background-position: -784px -16px; }
.ts-icon-sla-warning { background-position: -528px -16px; }
.ts-icon-sla-bad { background-position: -512px 0px; }
.ts-icon-attachment { background-position: -448px 0px; }
.ts-icon-tip { background-position: -640px -16px; }
.ts-icon-info { background-position: -656px -16px; }
.ts-icon-email { background-position: -672px -16px; }
.ts-icon-portal { background-position: -416px -16px; }
.ts-icon-portalnot { background-position: -432px -16px; }
.ts-icon-kb { background-position: -144px -16px; }
.ts-icon-kbnot { background-position: -688px -16px; }
.ts-icon-ticket-parent { background-position: -720px -16px; }
.ts-icon-ticket-related { background-position: -736px -16px; }
.ts-icon-ticket-child { background-position: -752px -16px; }
.ts-icon-tsuser { background-position: -400px -16px; }
.ts-icon-customer { background-position: -768px -16px; }
.ts-icon-light { background-position: -128px -16px; }
.ts-icon-columns { background-position: -880px -16px;}
.ts-icon-ticket { background-image: url('../images/nav/16/tickets.png'); position: 0px 0px;}
.ts-icon-contact { background-image: url('../images/nav/16/users.png'); position: 0px 0px;}
.ts-icon-company { background-image: url('../images/nav/16/customers.png'); position: 0px 0px;}




.cluetip-close { display:none;}

/* ts helpers */
.ts-clickable { cursor: pointer;}
.ts-noborder  { border: none;}
.ts-hidden { display:none !important; }

/* jGrowl Fixes */
div.jGrowl-message { max-height: 68px; overflow:hidden;}

/* Layout */
.ui-layout-resizer-west, .ui-layout-resizer-east { border-top: none !important; border-bottom:none !important;  }
.ui-layout-resizer-north, .ui-layout-resizer-south { border-left: none !important; border-right:none !important;  }

/* Chat */
.chat-messages { font-size:14px; color:#000; }
.chat-messages p { margin:5px; }
.chat-notification  { color:#333399; }
.chat-name { font-weight:bold;}
.chat-message-user .chat-name { color:#329938;}
.chat-message-client .chat-name  { color:#333399; }
.chat-message-self .chat-name { color:#696969;}

/* Ts Tabs */
.ts-tabs { position: relative; padding: 0 .5em; zoom: 1;  border-left: none; border-right:none; border-top:none; overflow:hidden; margin-top:1px;} 
.ts-tabs li { list-style: none; float: left; position: relative; border-bottom: 0 !important; padding: 0 .33em; white-space: nowrap; height:25px; line-height:25px; margin: 5px .1em 0 0; cursor:pointer;}
.ts-tabs li a { float: left; text-decoration: none; display:block; margin: 0 0; text-align: center ; min-width: 80px;}
.ts-tabs li a:hover { text-decoration:none;}
.ts-tabs li.ui-state-active a, .ts-tabs li.ui-state-disabled a, .ts-tabs li.ui-state-processing a { cursor: default; }
.ts-tabs-hide { display: none !important; }
.ts-tabs .ts-icon { float:left; margin: .33em .33em 0 0; padding:0;}
.ts-tabs .tab-image { float: left; display:block; height: 16px; width: 16px; margin: .33em .25em 0 0; padding: 0;}
.ts-tabs .ts-tab-content { padding: 0 16px; float:left;}
.ts-tabs .ui-icon-close { float:left; cursor:pointer; margin: .33em 0 0 0; padding:0; width: 16px;}
.ts-tabs .ui-icon-close.ts-tabs-noclose { background-position: -1000px -1000px; }
.ts-tabs .ui-state-hover .ts-tab-content { padding-right: 0px;}

/* Ts MenuTree */
.ts-menutree { border: none; height: 100%; overflow: auto; position:relative; }
.ts-menutree > ul { padding:0; margin: .5em 0;}
.ts-menutree li ul { padding:0; margin:0;}
.ts-menutree li { list-style: none; position: relative; cursor:pointer; padding:2px 0; margin:0; overflow:hidden; }
.ts-menutree li ul li { padding-left: .5em;}
.ts-menutree li a { text-decoration: none;  height: 20px; overflow:hidden; font-size:14px;}
.ts-menutree li > div { padding: .25em .1em; height: 20px; line-height:20px; overflow:hidden; }
.ts-menutree .ts-icon { float:left; padding-right: .33em;}
.ts-menutree .ui-icon { float:right; padding: 0 5px 0 0; }
.ts-menutree img { float:left; padding: 0 7px; height: 20px; width: 20px;}
.ts-menutree li.ts-menutree-item > div { border:none; background-image: none; }

.ts-toolbar { line-height: 29px; height:29px; border-left:none; border-right:none; font-weight:normal;}
.ts-toolbar .ts-toolbar-button { float:left; display:block; height: 28px; }
.ts-toolbar .ts-toolbar-button span.ts-icon { float:left; margin: 7px 2px 0 5px;}
.ts-toolbar .ts-toolbar-button .ts-toolbar-caption { float:left; margin-right: 5px;}
.ts-toolbar a.ui-state-hover { border-top: none; border-bottom:none; padding:0;}
.ts-toolbar a { padding: 0 1px; line-height:30px;}
.ts-toolbar a:hover { text-decoration:none;}

.ts-layout-tabs { height: 31px; }
.ts-layout-toolbar { height: 31px; }
.ts-layout-container { height: 100%; }

.ui-cluetip-content h1 { padding: 0 0 .5em 0; line-height: inherit; font-size: 1.5em;} 
.ui-cluetip-content h2 { padding: 0 0 .5em 0; font-size: 1.2em; font-weight:normal;line-height: inherit;} 
.ui-cluetip-content h3 { } 
.ui-cluetip-content dl { font-size:1em; line-height: 1.5em; padding: 0 0 1em 0;margin-bottom: 0px;} 
.ui-cluetip-content dt { float:left; width: 25%; font-weight:bold; clear:both;} 
.ui-cluetip-content dd { float:left; width: 70%;} 
.ui-cluetip-content { padding: 1em 1em;  border:none;}

.removable-item { padding: .25em .5em; margin: 0 .5em .5em 0; float:left;  }
.removable-item .ts-icon-info { float:left; cursor:pointer; height: 16px; margin: 2px 0 0 .25em;}
.removable-item .ui-icon-close { float:right; width: 16px; height: 16px; margin: 2px 0 0 .25em; cursor:pointer;  }
.removable-item-title, .removable-item-title a.ui-state-default { font-weight:bold; float:left; line-height: 20px; font-size: 12px;}
.removable-item-description { float:left; clear:left; line-height: 20px; font-size: 12px; margin-top: .25em;}
.removable-item .removable-text, .removable-item a { float:left; margin-right: .25em; }
 
.paste-dialog-instructions{
    position: absolute;
    top: 50%;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    width: 98%; 
}

.image-cropper{
    /*display:inline;*/
    width: 98%; 
}
/*
#mainImageDiv{
    height:90%;
    margin:0 auto;
    overflow:auto;
    min-height: 250px;
}*/


.mce-tinymce .mce-panel { background: #fcfdfd; filter:none;}
.mce-tinymce.mce-container { border: 0px solid #fcfdfd; }
.mce-tinymce .mce-edit-area { border: 0px solid #fcfdfd;}
.mce-tinymce .mce-toolbar-grp { padding-bottom: 5px;}
.mce-tinymce .mce-btn { background: #f3f3f3; border-color: #dadada; box-shadow: none; filter:none;}
.mce-tinymce .mce-btn i { text-shadow: none; }
.mce-tinymce .mce-btn button { line-height:normal; padding: 4px 4px; }
.mce-tinymce .mce-btn button, .mce-tinymce .mce-btn button .mce-ico { color: #6f6f6f;}
.mce-tinymce .mce-btn:hover, .mce-tinymce .mce-btn:focus { background: #f6f6f6; filter:none; }
.mce-tinymce .mce-btn:hover button, .mce-tinymce .mce-btn:focus button,
.mce-tinymce .mce-btn:hover button .mce-ico , .mce-tinymce .mce-btn:focus button .mce-ico  { color: #444444;}
.mce-tinymce .mce-btn-group .mce-first, .mce-tinymce .mce-btn-group .mce-last { border-color: #dadada; }
.mce-tinymce .fa { font-family: "FontAwesome"; line-height:1;}
.mce-tinymce .mce-toolbar { margin-bottom: 5px;}

.color-white { color: #FFFFFF; }
.color-black { color: #000000; }
.color-lightgray { color: #e5e5e5; }
.color-gray { color: #999; }
.color-darkgray { color: #777; }
.color-blue { color: #3276B1 !important; }
.color-yellow { color: #FEC21E; }
.color-orange { color: #E47A3B; }
.color-red { color: #D9534F; }
.color-green { color: #5CB85C ; }
.color-teal { color: #008080; }
.color-magenta { color: #BA55D3; }

.bgcolor-white { background-color: #FFFFFF; }
.bgcolor-black { background-color: #000000; }
.bgcolor-lightgray { background-color: #e5e5e5; }
.bgcolor-darkgray { background-color: #777; }
.bgcolor-gray { background-color: #999; }
.bgcolor-blue { background-color: #3276B1; }
.bgcolor-yellow { background-color: #FEC21E; }
.bgcolor-orange { background-color: #E47A3B; }
.bgcolor-red { background-color: #D9534F; }
.bgcolor-green { background-color: #5CB85C; }
.bgcolor-teal { background-color: #008080; }
.bgcolor-magenta { background-color: #BA55D3; }