<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <My.MySettings>
            <setting name="SF_Text_App_2_sForce_SforceService" serializeAs="String">
                <value>https://login.salesforce.com/services/Soap/u/16.0</value>
            </setting>
        </My.MySettings>
    </applicationSettings>
  <appSettings>
    <add key="ConnectionString" value="Data Source=10.40.90.13; Initial Catalog=TeamSupportVictor;Persist Security Info=True;User ID=Dev-Sql-WebApp;Password=TeamSupportDev;Connect Timeout=500" />
    <add key="ServiceName" value="TSCrmPoolJira" />
    <add key="ServiceDisplayName" value="TeamSupport Service" />
    <add key="IndexerPool_Max Worker Processes" value="1" />
    <add key="Indexer_RebuilderMode" value="0" />
    <add key="IndexerPool_Interval" value="0" />
    <add key="Indexer_Interval" value="0" />
    <add key="Indexer_DaysSinceLastRebuild" value="14" />
    <add key="Indexer_MinutesSinceLastActive" value="30" />
    <add key="Indexer_Max Records" value="1000" />
    <add key="Indexer_Tickets Index Path" value="c:\TSIndexes" />
    <add key="EmailProcessorPool_Max Worker Processes" value="4" />
    <add key="EmailProcessorPool_Interval" value="100" />
    <add key="EmailProcessor_Interval" value="100" />
    <add key="EmailProcessor_Debug" value="False" />
    <add key="EmailProcessor_LoggingEnabled" value="0" />    
  	<add key="CustomerInsightsProcessor_Interval" value="0"/>
    <add key="CustomerInsightsProcessor_CustomerInsights Enabled" value="True"/>
    <add key="CustomerInsightsProcessor_CustomerInsights SecurityToken" value="563e14813921adae"/>
    <add key="CustomerInsightsProcessor_CustomerInsights Max Contact Calls" value="200000"/>
    <add key="CustomerInsightsProcessor_CustomerInsights Max Company Calls" value="100000"/>
    <add key="CustomerInsightsProcessor_CustomerInsights Current Contact Calls" value="200000"/>
    <add key="CustomerInsightsProcessor_CustomerInsights Current Company Calls" value="59002"/>
    <add key="CustomerInsightsProcessor_CustomerInsights Wait Hours Before New Update" value="24"/>
    <add key="CustomerInsightsProcessor_CustomerInsights Max To Process By Ticket Count" value="100"/>
    <add key="CustomerInsightsProcessor_CustomerInsights Last Processed" value="1/29/2016 8:06:19 PM"/>
    <add key="CustomerInsightsProcessor_CustomerInsights Process Interval" value="60"/>
    <add key="TokTranscoder_ffmpegPath" value="C:\ffmpeg\bin"/>
    <add key="TokTranscoder_outputFilePath" value="C:\Development\Transcoder" />
    <add key="TokTranscoder_downloadFilePath" value="C:\Development\Transcoder" />
    <add key="AWSProfileName" value="TeamsupportAWS" />
    <add key="AWSRegion" value="us-east-1" />    
  </appSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>
