<configuration>
  <appSettings>
    <remove key="NewRelic.AppName"/>
    <add key="NewRelic.AppName" value="app.teamsupport.com - DC" />
  </appSettings>
  <system.web>
    <httpRuntime
				executionTimeout="999999"
				maxRequestLength="2097151"
				requestLengthDiskThreshold="80"
				useFullyQualifiedRedirectUrl="false"
				minFreeThreads="8"
				minLocalRequestFreeThreads="4"
				appRequestQueueLimit="5000"
				enableKernelOutputCache="true"
				enableVersionHeader="true"
				requireRootedSaveAsPath="true"
				enable="true"
				shutdownTimeout="999999"
				delayNotificationTimeout="5"
				waitChangeNotification="0"
				maxWaitChangeNotification="0"
				enableHeaderChecking="true"
				sendCacheControlHeader="true"
				apartmentThreading="false" />

    <authorization>
      <allow users="*" />
    </authorization>

    <compilation debug="false" targetFramework="4.0">
    </compilation>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="SessionModule"/>
      <remove name="RadUploadModule" />
      <remove name="ImageResizingModule" />
      <remove name="RestCommandModule" />
    </modules>
    <handlers>
      <clear/>
      <add name="TeamSupport_ContentHandler" verb="*" path="dc/*" type="TeamSupport.Handlers.ContentHandler, TeamSupport.Handlers" />
      <add name="TeamSupport_ResourceHandler" verb="*" path="vcr/*" type="TeamSupport.Handlers.ResourceHandler, TeamSupport.Handlers" />
      <add name="TeamSupport_ReportDataHandler" verb="*" path="reportdata/*" type="TeamSupport.Handlers.ReportDataHandler, TeamSupport.Handlers" />
      <add name="TeamSupport_UploadHandler" verb="*" path="upload/*" type="TeamSupport.Handlers.UploadHandler, TeamSupport.Handlers" />
      <add name="TeamSupport_UserStatusHandler" verb="*" path="userupdate/*" type="TeamSupport.Handlers.UserStatusHandler, TeamSupport.Handlers" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>


