<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="MainConnection" connectionString="Data Source=10.40.90.13; Initial Catalog=TeamSupportBeta;Persist Security Info=True;User ID=Dev-Sql-WebApp;Password=TeamSupportDev;Connect Timeout=500" />
    </connectionStrings>
    <appSettings>
        <add key="URL" value="http://beta.com" />
        <add key="OrganizationID" value="13679" />
        <add key="AuthenticationToken" value="4d547163-c62b-4012-ba18-c223a806151d" />
        <add key="TicketID" value="3910123" />
        <add key="ActionID" value="10223053" />
        <add key="AssetID" value="60288" />
    </appSettings>
</configuration>