<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <My.MySettings>
            <setting name="SF_Text_App_2_sForce_SforceService" serializeAs="String">
                <value>https://www.salesforce.com/services/Soap/u/16.0</value>
            </setting>
        </My.MySettings>
    </applicationSettings>
  <appSettings>
    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=TeamSupportDev;Persist Security Info=True;User ID=sa;Password=Muroc2008!"/>
    <add key="ServiceName" value="TeamSupport"/>
    <add key="ServiceDisplayName" value="TeamSupport Service"/>
    <add key="GridPointSalesOrdersTriggerQuery" value="
      SELECT
      	tv.*
      FROM
      	TicketsView tv
      	JOIN TicketStatuses ts
      		ON tv.TicketStatusID = ts.TicketStatusID
      	JOIN OrganizationTickets ot
      		ON tv.TicketID = ot.TicketID
      	JOIN
      	(
      		SELECT
      		  v.RefID AS OrganizationID
      		FROM
      		  CustomFields f
      		  JOIN CustomValues v
      			  ON f.CustomFieldID = v.CustomFieldID
      		WHERE
      		  f.OrganizationID = @OrgID
      		  AND f.ApiFieldName = 'CustomerType'
      		  AND RefType = 9
      		  AND CustomValue = 'Hourly Rate Support'
      	) ctc
      		ON ot.OrganizationID = ctc.OrganizationID
      	LEFT JOIN MiscellaneousLog ml
      		ON ml.OrganizationID = @OrgID
      		AND ml.RefType = 17
      		AND ml.RefProcess = 1
      		AND ml.RefID = tv.TicketID
      	LEFT JOIN 
      	(
      		SELECT
      		  v.RefID AS OrganizationID
      		  , CONVERT(datetime, v.CustomValue) AS WarrantyExpirationDate
      		FROM
      		  CustomFields f
      		  JOIN CustomValues v
      			  ON f.CustomFieldID = v.CustomFieldID
      		WHERE
      		  f.OrganizationID = @OrgID
      		  AND f.ApiFieldName = 'WarrantyExpirationdate'
      		  AND f.RefType = 9
      		  AND NULLIF(v.CustomValue, '') IS NOT NULL
      	) wedc
      		ON ot.OrganizationID = wedc.OrganizationID
      	LEFT JOIN 
      	(
      		SELECT
      		  v.RefID AS TicketID
      		FROM
      		  CustomFields f
      		  JOIN CustomValues v
      			  ON f.CustomFieldID = v.CustomFieldID
      		WHERE
      		  f.OrganizationID = @OrgID
      		  AND f.RefType = 17
      		  AND f.ApiFieldName = 'ServiceType'
      		  AND v.CustomValue = 'Non-Warranty'
      	) stc
      		ON tv.TicketID = stc.TicketID
      	LEFT JOIN 
      	(
      		SELECT
      		  v.RefID AS OrganizationID
      		  , CONVERT(datetime, v.CustomValue) AS ConfigChangeExpirationdate
      		FROM
      		  CustomFields f
      		  JOIN CustomValues v
      			  ON f.CustomFieldID = v.CustomFieldID
      		WHERE
      		  f.OrganizationID = @OrgID
      		  AND f.ApiFieldName = 'ConfigChangeExpirationdate'
      		  AND f.RefType = 9
      	) cched
      		ON ot.OrganizationID = cched.OrganizationID
      	WHERE
      		tv.OrganizationID = @OrgID
      		AND ml.RefID IS NULL
      		AND ts.IsClosed = 1
      		AND tv.DateModified > @DateModified
      		AND
      		(
      		  wedc.WarrantyExpirationDate &lt; GETUTCDATE()
      		  OR tv.TicketTypeName = 'Facility Triage'
      		  OR (tv.TicketTypeName = 'Technical Support' AND stc.TicketID IS NOT NULL)
      		  OR (tv.TicketTypeName = 'Configuration Changes' AND cched.ConfigChangeExpirationdate &lt; GETUTCDATE())
      		)
		 "/>

  </appSettings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
