body { background-color: #fcfdfd; }
.ts-icon { cursor: pointer;}
.admin-to-cat.ui-sortable-helper {
    border: 1px solid #777;
    border-radius: 3px;
    padding: 0 10px 20px 10px;
}
.admin-to-cat-placeholder { height: 20px; }
.admin-panel-buttons { margin-top: 15px; }
#plugin-show-variables { margin: 15px 0; display:block;}
.admin-to-cat { margin-top: 5px; }
.admin-to-cat .fa-times, .admin-to-cat .fa-pencil { display:none; }
.admin-to-cat:hover .fa-times,.admin-to-cat:hover .fa-pencil { display:inline-block; }
.admin-to-cat .fa-times,.admin-to-cat .fa-pencil { cursor: pointer; }
.admin-to-cat span { padding: 0 10px;}
.fa-bars { cursor: url(../cursors/grab.cur), move !important; }
.preview-wrapper { width: 270px; }
