.int-list { list-style:none; margin:0; padding:0; }
.int-list li { border:none; }
.int-list li p { padding: 1em 0;} 
.int-list h1.collapsable { line-height: 16px; font-size: 16px; font-weight:bold; cursor:pointer;}
.int-list h1.collapsable img { float:left; display:block; margin: 0 .3em; }
.int-list h1.collapsable .ui-icon { float:left; }
.int-list li .int-panel { padding: 0 1em 1em 1em; line-height: 1.1em;}
.int-panel input.text { width: 250px; display:block; margin-bottom: 1em; }
.int-panel label { display:block; margin: .25em 0; font-weight:bold;}
.int-footer .int-message { padding: 1em 1em; background-image:none;}
.int-footer div { margin: 1em 0; }
.int-action button { margin-right: 1em;}
label.checkbox { display:inline;}
#int-api-inactive { font-size: 1.2em; font-weight:bold;}
dl dt { float:left; font-weight:bold; margin-right:1em; padding:.5em; width:165px; text-align:right;}
dl dd { margin:2px 0; padding:5px 0; }
.int-list dl dd strong.ui-state-error { border: none; background: transparent none; }
.ts-api a.int-api-link-users  { font-weight: bold; display:block; padding: 1em 0; }
.label { padding: 0 0 .2em 0; display:block; font-size:1em; font-weight:bold; }
.label-block { float:left; padding-right: 1em; vertical-align:middle;}
.label-block button { margin-top: 1em; }
.checkboxes .clearfix { margin-bottom: 1em; }

.int-content-wrapper { float:left; width: 100%; }
.int-content-left {float:left; width:300px; margin-left: -100%;}
.int-content-center { margin-left:300px; }
.int-content-center .ui-widget-content.ts-separator { clear:none;}

.map-fieldset { clear:both; line-height: 16px;}
.map-fieldset span { float:left; padding-right: .25em; margin-bottom: .5em; font-size: 1.2em;}
.map-fieldset .ui-icon {cursor: pointer;}



