body {

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
    background-color: #428BCA !important;
    color: white !important;
    border:none;
}

.box-content {font-size: 12px}

.header-nav { height: 49px; white-space:nowrap; }
.pageheader .btn-toolbar { margin: 10px 20px 0 0; }
.main-nav { margin-top: 0; }

.userProperties .fa-external-link { margin-left: 10px; }

#tblNotes, #tblProducts, #tblFiles i {cursor:pointer;}
.note-list{
    border-bottom: 3px solid #DDDDDD;
    max-height: 208px;
    overflow: auto;
}
.hiddenfile{
    position:absolute;
    opacity:0;
}

.hiddenmenu {display:none;}

.upload-queue {
    list-style: none outside none;
    margin: 0;
    padding: 0.5em 0;
}
.upload-queue .ts-color-bg-accent {
    float: left;
    margin-bottom: 0.25em;
    padding: 0.25em;
    background-color: #D5E5F7;
    margin-right:10px;
}
.upload-queue li .filename {
    float: left;
    line-height: 16px;
}
.upload-queue li .glyphicon {
    cursor: pointer;
    float: left;
    margin-left: 0.25em;
    padding: 0;
}
.progress-bar{
    float:none !important;
}
.progress {overflow:visible !important;margin-bottom: 0px !important;}

.form-group p.editable, .editable, .link {
    color:#428BCA;
    cursor:pointer;
}

#contactName {
    font-size: 24px;
    padding-left: 15px;
}

.userProperties i, .customProperties i{line-height: 2em;cursor:pointer}

.form-inline .form-group input {
	width:140px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.form-inline .form-group i{
    margin-right:10px;
    cursor:pointer;
}

.viewFile {cursor:pointer}

.db{display:block;}

.form-horizontal .control-label {
    color: #888888;
    font-weight: normal;
    text-align: left;
}

.userProperties p, .customProperties p{word-wrap:break-word;}

.imgsm{
    width:20px;
    height: 20px;
}

.percent{
    font-weight:bold;
    margin-left: 15px;
}

.list-group { padding-top: 15px; }

.expandProductsContainer {
    width: auto;
}

#contactAvatar {
  margin-bottom: 8px;
}

.contactTitleHeader {
  margin-bottom: 5px;
}

.contactHeader {
  padding-top: 8px;
}

.productLineRow {
    margin-bottom: 20px;
}

#taskTab {
    display:none;
}

.attIcon {margin:2px 2px;width: 16px;height: 16px;float: left; border:none; background:none; background-image:url('../Images/icons/Attachment.png');cursor:pointer}
.ticketIcon {margin:2px 2px;width: 16px;height: 16px;float: left; border:none; background:none; background-image:url('../Images/nav/16/Tickets.png');cursor:pointer}
.groupIcon {margin:2px 2px;width: 16px;height: 16px;float: left; border:none; background:none; background-image:url('../Images/nav/16/Groups.png');cursor:pointer}
.companyIcon {margin:2px 2px;width: 16px;height: 16px;float: left; border:none; background:none; background-image:url('../Images/nav/16/Customers.png');cursor:pointer}
.contactIcon {margin:2px 0px;width: 16px;height: 16px;float: left; border:none; background:none; background-image:url('../Images/nav/16/Contacts.png');cursor:pointer}
.productIcon {margin:2px 2px;width: 16px;height: 16px;float: left; border:none; background:none; background-image:url('../Images/nav/16/Products.png');cursor:pointer}
.userIcon {margin:2px 2px;width: 16px;height: 16px;float: left; border:none; background:none; background-image:url('../Images/nav/16/Users.png');cursor:pointer}