body {

}

li.active > a {
    /*background-color: #1E7DCC !important;
    color: white !important;*/
}

.main-nav { margin-top: 13px; }
#userProperties .fa-external-link { margin-left: 10px; }

#tblNotes, #tblFiles i {cursor:pointer;}
.note-list{
    border-bottom: 3px solid #DDDDDD;
    max-height: 208px;
    overflow: auto;
}
.hiddenfile{
    position:absolute;
    opacity:0;
}
#phonePanel .content.form-group:hover .hiddenmenu, #addressPanel .form-group:hover .hiddenmenu {opacity: 1;}
.hiddenmenu {opacity: 0;}

.upload-queue {
    list-style: none outside none;
    margin: 0;
    padding: 0.5em 0;
}
.upload-queue .ts-color-bg-accent {
    float: left;
    margin-bottom: 0.25em;
    padding: 0.25em;
    background-color: #D5E5F7;
    margin-right:10px;
}
.upload-queue li .filename {
    float: left;
    line-height: 16px;
}
.upload-queue li .glyphicon {
    cursor: pointer;
    float: left;
    margin-left: 0.25em;
    padding: 0;
}
.progress-bar{
    float:none !important;
}
.progress {overflow:visible !important;margin-bottom: 0px !important;}

.form-group p.editable, .editable, .link {
    color:#428BCA;
    cursor:pointer;
}

#contactName {
    font-size: 24px;
    padding-left: 15px;
}

#userProperties i, #customProperties i{line-height: 2em;cursor:pointer}

.form-inline .form-group input {
	width:140px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.form-inline .form-group i{
    margin-right:10px;
    cursor:pointer;
}

.viewFile {cursor:pointer}

.db{display:block;}