.message-bubble 
{
    padding: 0px 0px 0px 20px;
}

.message-bubble:nth-child(even) { background-color: #F5F5F5; }

.message-bubble > *
{
    margin: 0px;
    padding: 5px;
}

.panel-body { padding: 0px; }

.panel-heading { background-color: #3d6da7 !important; color: white !important; }