body {
background-color: #fff;

}
.customers-header button { margin-top: 15px;}
.customers-search { padding-top: 15px; padding-bottom: 15px;}
.customers-filter { padding-left: 0px; padding-top: 7px;}
.customers-filter ul {display:inline-block;}

.panel {margin-top: 15px;}

.search {
	padding: 8px 10px;
	font-size: 12px;
}

.viewfilters {display: inline-block;margin-bottom: 10px; margin-left: 0px;padding-left: 0;}

.viewfilters>li {
border-right: 1px solid #ddd;
display: inline-block;
float: left;
padding: 0 10px;
}

.viewfilters>li:first-child {
padding-left: 0;
}

.viewfilters>li:last-child {
border-right: 0;
}

.viewfilters>li.active a {
background: #333;
color: #fff;
}

.viewfilters>li a {
display: block;
padding: 5px 10px;
font-size: 11px;
text-transform: uppercase;
color: #666;
}

.viewfilters>li a:hover {
    background: none repeat scroll 0 0 #DDDDDD;
    color: #666666;
    text-decoration: none;
}

.recent-container ul{padding: 0px;}
.recent-container ul.recent-list>li {list-style:none;border-bottom:1px solid #eee; padding: 10px}
.recent-container ul.recent-list>li:last-child {border-bottom:none;}

.recent-info h4 { font-size: 16px; }
.recent-info ul { list-style: none; color: #666; margin-left:0px; }
.recent-info ul li { line-height: 18px; }
.recent-info ul li span { line-height: 18px; }
.recent-info {word-wrap:break-word; font-size: 12px;}
.recent-info i.fa { padding-right: 10px;}
.recent-info li a { color: #999;}

.results-wrapper { padding: 5px 5px;}
.searchresults { width:100%; border-collapse:collapse;} 
.searchresults ul {padding: 0; margin: 0;}
.searchresults td { border-bottom: 1px solid #eee; padding: 10px 10px;}
.result-icon { width: 50px;}

.peopleinfo h4{display:inline; font-size:16px;}
.peopleinfo p { margin: 0; text-align:right;}
.peopleinfo { font-size: 12px;}
.peopleinfo ul a { color:#999;}
.peopleinfo li {list-style:none;}

.results-loading { display:none; padding: 20px 15px; color: #999; }
.results-empty { display:none; color: #444; padding: 50px; text-align:center; font-size: 18px;}
.results-done { display:none; padding: 20px 15px; color: #999; }


.on {color: green;}
.off {color: lightgray;}
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../Images/icons/icon_top.png') no-repeat;
    border-color: #D5E5F7;
    outline-style:none !important;
}

