body {
}

.header-nav { height: 49px; overflow:hidden; white-space:nowrap; }
.pageheader .btn-toolbar { margin: 10px 20px 0 0; }
.pageheader .nav-tabs{border-bottom:none !important;}

#taskName {
    margin: 0 0 0 15px;
    font-size: 24px;
}

.form-horizontal .control-label{font-weight:normal;color:#888;text-align:left;font-size:12px}
.box-content {font-size: 12px}

.taskProperties i {line-height: 2em;cursor:pointer}
.taskProperties p {word-wrap:break-word;font-size: 12px}

.form-group p.editable, .editable {
    color:#428BCA;
    cursor:pointer;
}

.form-inline .form-group input {
	width:140px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.form-inline .form-group i{
    margin-right:10px;
    cursor:pointer;
}

.db{display:block;font-size:12px}

#fieldDescription {padding-left: 10px;}

.attachrow {
    /*border-top:1px solid #ddd;
    background-color: #F7F7F7;
    padding: .5em;*/
    margin-top: 5px;
}

.addatt{margin:2px 4px;width: 16px;height: 16px;float: left;background-image:url('../Images/icons/attachment.png');cursor:pointer}
.addticket{margin:2px 4px;width: 16px;height: 16px;float: left;background-image:url('../Images/nav/16/Tickets.png');cursor:pointer}
.addgroup{margin:2px 4px;width: 16px;height: 16px;float: left;background-image:url('../Images/nav/16/Groups.png');cursor:pointer}
.addcustomer{margin:2px 4px;width: 16px;height: 16px;float: left;background-image:url('../Images/nav/16/Customers.png');cursor:pointer}
.addproduct{margin:2px 4px;width: 16px;height: 16px;float: left;background-image:url('../Images/nav/16/Products.png');cursor:pointer}
.adduser{margin:2px 4px;width: 16px;height: 16px;float: left;background-image:url('../Images/nav/16/Users.png');cursor:pointer}

form.file-upload { position: relative; overflow: hidden; direction: ltr; cursor: pointer; color: #333; height: 16px; line-height: 16px; float:left; margin-top: 4px !important; margin-right: 5px !important; }
form.file-upload input { position: absolute; top: 0; right: 0; margin: 0; border: 300px solid transparent; opacity: 0; -ms-filter: 'alpha(opacity=0)'; filter: alpha(opacity=0); -o-transform: translate(-300px, -300px) scale(10); -moz-transform: translate(-800px, 0) scale(10); cursor: pointer; height: 100%; }
:root form.file-upload input { height: auto; }

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
	position: relative;
	left: 7px;
	clear: both;
}

.subcontainer {
    /*border-top:1px solid #ddd;*/ 
    padding: .5em;/*display:none;height: 22px*/
}
.ur{/*display:inline-block;*/line-height:1.5em}    

.upload-queue .progress {
    float: left;
    height: 7px;
    margin: 4px 0.25em 0 1em;
    width: 100px;
}

.upload-queue .filename {
    float: left;
    line-height: 16px;
}

.upload-queue .ui-icon {
    cursor: pointer;
    float: left;
    margin-left: 0.25em;
    padding: 0;
}

#attachmentinput {
    margin-bottom: 20px;
}