.tickets-grid .ui-corner-all {  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }
.grid-ticket-toolbar { border-top:none; border-bottom:none;}
/*.ticket-grid-row-violated .ticket-grid-cell-sla {background:#E86868; }*/
.ticket-grid-row-violated .ticket-grid-cell-sla .ts-icon-open { background-position: -608px -16px; }
.ticket-grid-row-warning .ticket-grid-cell-sla  .ts-icon-open { background-position: -624px -16px; }
.slick-viewport .ticket-grid-row-read { font-weight:normal;}
.ticket-grid-row { font-weight: bold;}
.ticket-grid-cell-sla-text { color: Red;}
.grid { height:100%;}
.slick-column-name { height: 16px; display:block; float:left; }
.slick-header-column { cursor:pointer; }
.slick-sort-indicator { width: 16px !important; height: 16px !important;  float:left; display:block;  }
.slick-sort-indicator-desc { background: transparent url(../css/images/ui-icons_145282_256x240.png) no-repeat scroll -64px -16px  !important; }
.slick-sort-indicator-asc { background: transparent url(../css/images/ui-icons_145282_256x240.png) no-repeat scroll 0px -16px  !important; }
.grid-loading { display: inline-block; z-index: 9999; background: transparent url('../images/loading/loading.gif') no-repeat; height:100px; width:100px; }
.loading-indicator label { padding-left: 20px; background: url('../images/ajax-loader-small.gif') no-repeat center left; }
.slick-cell { line-height:17px; border-left: 0; border-right: 0; border-top: 0; border-bottom: 1px solid #eee;}
/*.slick-viewport .slick-row.ui-widget-content { border-top: 1px solid #eee; }*/
.slick-header-column.ui-state-default { border-right-color: #92B4DE; }
.slick-cell { cursor:pointer;}
.no-header-name .slick-column-name { display:none; }
body.ui-widget { font-size:12px; }
.ui-state-active.slick-cell { border: none;}

.ui-dialog .ui-dialog-buttonpane button.dialog-columns-setdefault { margin-right: 30px;}
.dialog-columns-list { }
.dialog-column-container { padding-bottom: 5px; }
.dialog-columns-list .ts-checkbox { float:left; width: 130px;}
.dialog-columns-forcefit { margin-top: 5px;}
.ui-dialog .ui-dialog-buttonpane button.dialog-columns-button-default { float:left; margin-left: 1em;}