
.ui-layout-resizer { background:#8AAEDE;}

.tab-content {background-color: #D5E5F7;height: 88%;}


.tab-content #user-ratings {overflow: auto;height: 100%}
.user-container > li {
    border-bottom: 1px solid #EEEEEE;
    list-style: none outside none;
    padding: 10px;
    font-size: 12px;
}

.user-container > li>.active{
    background-color:#D5E5F7;
}

.user-container i {
  cursor: pointer;
  font-size: 15px;
}

.user {cursor:pointer;}
.box-content {
    font-size: 12px;
}
.avatar {
    height: 25px;
    width: 25px;
    overflow:hidden;
    float: left;
    margin-top: 3px;
}

.avatar img{
    width: 25px;
    height: 25px;
}

.main-nav{
    padding: 10px 10px 0px 10px;
    border-bottom: 1px solid #DDDDDD;
}

.nav-tabs{
    margin-top: 10px;
    border-bottom: none !important;
}

.user-tooltip{
    padding-left: 10px;
}

.userName{
    font-size:25px;
    margin: 0px 0px 10px 0px;
}

.maincontainer{
    overflow:hidden;
}

.imgsm{
    width:20px;
    height: 20px;
}

.percent{
    font-weight:bold;
    margin-left: 15px;
}

.ts-icon-online-small {
    background-position: -816px -16px;
    display: inline-block !important;
    margin-left: 10px;
    position: relative;
    top: 2px;
}
.ts-icon {
    background-image: url("../images/ts_icons_normal.png");
    height: 16px;
    width: 16px;
    display: block;
}

.ts-icon-offline-small {
    background-position: -832px -16px;
    display: inline-block !important;
    margin-left: 10px;
    position: relative;
    top: 2px;
}