.wc-reply { padding: .5em .5em; margin: .25em 0;}
.wc-thread { margin-top: 2em;}

#maincontainer{
    /*width: 500px;*/
    display: inline-block;
    width: 100%;    
}

.faketextcontainer{
    border: 1px solid #DDD;
    height:32px;
    line-height:32px;
    overflow: hidden;
    /*margin-bottom:5px;*/}

.faketext{
    font-size:14px;
    margin-left:10px;}

.commentcontainer{
    border: 1px solid #DDD;
    display:none;
    overflow: hidden;
    }

.attachrow{
    border-top:1px solid #ddd;
    background-color: #F7F7F7;
    padding: .5em;}

.boxsizingBorder {
box-sizing: border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
font-size:14px !important;
/*padding:2px 0 0 9px;*/
height:60px;
resize:none;}

#newcomment{float:right}

.subcontainer{border-top:1px solid #ddd; padding: .5em;/*display:none;height: 22px*/}
.ur{/*display:inline-block;*/line-height:1.5em}    

.ulfn{padding:2px 2px 2px 6px;line-height:1.5em}

.topic_container{margin-top:10px}
.topic{border: 1px solid #ddd; padding: 5px;min-height:55px}
.topicavatar{float:left}
.topicavatarlrg{float:left;height:48px;width:48px;margin-right: 15px}
.topicavatarsm{float:left;height:32px;width:32px;margin-right: 15px;padding-top:5px;padding-left: 5px;}
/*.tpic{display:table-cell;width: 500px;}*/
.tpic{display:block;margin-left:68px}
.topicln {line-height:2em;}
.topicts{color:#666;font-size:10px;margin-left:1em}
.topicrel{color:#666;float:right}
.topictext{padding-top:4px;padding-bottom:15px;display: inline-block;}
.treplycontainer{display:block;border: 1px solid #E3E3E3;background-color: #F7F7F7;margin-bottom: .5em}
.topicrpy{margin:0 5px 0 52px}
.topictm{color:#666;font-size:10px;margin: 0 1em 0 1em}
.topicreplytxt{padding-top:4px;padding-bottom: 15px;line-height:1.4;display:table-row}
.topicComments{padding:1em 0px 1em 5px;display: inline-block;font-weight: bold;color:#0057C2; cursor:pointer}
.hiddenComments{display:none}
.topiclike{font-size: 10px;padding-left: 5px}
.likestar{width:10px;}
#likeCounter{font-size: 11px;}

.mainavatar{float:left}
.mainavatarlrg{height:32px;width:32px;margin-left: 5px;margin-right: 35px;}


.topiciconnotes{background-image:url('../Images/nav/16/Tasks.png');cursor: pointer;display: block;height: 16px;width: 16px;margin: 0 5px 5px 0;}
.topicicontix{background-image:url('../Images/nav/16/Tickets.png');cursor: pointer;display: inline-block;height: 16px;width: 16px;margin-right: 5px;}
.topicicongrp{background-image:url('../Images/nav/16/Groups.png');cursor: pointer;display: inline-block;height: 16px;width: 16px;}
.topiciconprod{background-image:url('../Images/nav/16/Products.png');cursor: pointer;display: inline-block;height: 16px;width: 16px;}
.topiciconcompany{background-image:url('../Images/nav/16/Customers.png');cursor: pointer;display: inline-block;height: 16px;width: 16px;}
.topiciconuser{background-image:url('../Images/nav/16/Users.png');cursor: pointer;display: inline-block;height: 16px;width: 16px;}

.topicHistory{background-image:url('../Images/icons/Information.png');cursor: pointer;display: inline-block;height: 16px;width: 16px;}

.attachment-list{padding: 10px 0 0 0}
.attfilename{margin-right: 5px; line-height: 16px;}

.ts-icon-attachment{float:left; margin-right: 10px}

.addatt{margin:4px;width: 16px;height: 16px;display: inline-block;background-image:url('../Images/icons/Add.png');cursor:pointer}
.addticket{margin:4px;width: 16px;height: 16px;display: inline-block;background-image:url('../Images/nav/16/Tickets.png');cursor:pointer}
.addgroup{margin:4px;width: 16px;height: 16px;display: inline-block;background-image:url('../Images/nav/16/Groups.png');cursor:pointer}
.addcustomer{margin:4px;width: 16px;height: 16px;display: inline-block;background-image:url('../Images/nav/16/Customers.png');cursor:pointer}
.addproduct{margin:4px;width: 16px;height: 16px;display: inline-block;background-image:url('../Images/nav/16/Products.png');cursor:pointer}
.adduser{margin:4px;width: 16px;height: 16px;display: inline-block;background-image:url('../Images/nav/16/Users.png');cursor:pointer}

.postcontainer{/*padding:10px 0 10px 0*/}

.singlelinecomment {overflow:hidden; height: auto !important}
textarea{
    width:100%;
    margin: 0 !important;
    padding:3px;}

.ticket-removable-item {
/*padding: .25em .5em;*/
margin: 0 .5em .5em 0;
float: left;
}

.ticket-removable-item .ui-icon-close {
    cursor: pointer;
    float: right;
    margin-left: 0.25em;
    width: 16px;
}

.ticket-removable-item-title, .ticket-removable-item-title a.ui-state-default {
    float: left;
    font-weight: bold;
}

form.file-upload {
position: relative;
overflow: hidden;
direction: ltr;
cursor: pointer;
color: #333;
width: 8em;
height: 23px;
line-height: 0;
margin-bottom: 0 !important;
margin-top: 0em;
}

input, select
{
    margin-bottom: 0 !important; /*override bootstrap*/
}



.ui-combobox-table
{
    padding: 1px 0 1px 0 !important;    
}

form.file-upload input {
    -moz-transform: translate(-800px, 0pt) scale(10);
    /*border: 300px solid transparent;*/
    cursor: pointer;
    height: 1em;
    margin: 0;
    opacity: 0;
    /*margin: 0 0 0 -210px;*/
}

.deletepadding {margin: .5em}

.ts-linkb{font-weight:bold !important}
.main-quick-ticket, .company-search, .user-search {width:250px}
.main-quick-ticket-blur, .company-search-blur, .user-search-blur { font-style: italic;}

#preview{
	position:absolute;
	display:none;
	color:#fff;
	}
