* { box-sizing: border-box ;}
 
body {
    padding: 16px;
    background-color: #dae3ec;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow-y:scroll;
}
  
/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(../assets/header-bg.png) #457aba center;
    background-size: cover;
    padding: 54px 65px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.header_info {
    display: inline-block;
}
.header_info_title {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 23px;
}
.header_info_context {
    color: white;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
}
/*HEADER BUTTON*/
.btn {
   color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 35px;
    width: 150px;
    height: 35px;
    background-color: #249cd4;
    border-radius: 2px;
    text-align: center;
    transition: all .2s ease-in-out;
    will-change:background-color;
}
.btn:hover {
    background-color: #3aaee3;
}
.btn:active {
    background-color: #2b91c0;
}
/* HEADER ENDING */
 
/* CONTEXT CONTAINER */
.container {
    padding: 65px;
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0 100px rgba(166, 173, 186, 0.1);
}
/* CONTAINER ENDING */
 
/* INFO */
.info {
    text-align: center;
    margin: auto;
    max-width: 1100px;
    background-color: #f7f8f9;
    border: 2px solid #d8e0e8;
    border-radius: 2px 1.5px 1.5px 2px;
    margin-bottom: 54px;
}
.info_card {
    display: inline-block;
    width: 33%;
    padding: 36px;
    text-align: left;
}
.info_card_header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 54px;
}
.info_card_header_title {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-style: italic;
}
.info_card_header_icon {
    height: 24px;
    margin-right: 14px;
}
.info_card_more {
    color: #b6bec7;
	font-size: 10.5px;
	font-weight: 700;
	line-height: 20px;
	transition: all .2s ease-in-out;
	will-change:color;
}
.info_card_more:hover {
    color: #249cd4;
}
.info_card_options_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
	color: #89939e;
	font-size: 13px;
	font-weight: 400;
	line-height: 27px;
	transition: all .2s ease-in-out;
	will-change:color;
}
.info_card_options_button img {
    opacity: 0;
	height: 10px;
	transition: all .2s ease-in-out;
	will-change:opacity;
}
.info_card_options_button:hover {
    color: #249cd4;
}
.info_card_options_button:hover img {
    opacity: 1;
}
 
/* CARD SPECIFICATIONS */
.info_card.one .info_card_header_title {
    color: #249cd4;
}
.info_card.two {
    border-left: 2px solid #d6e0e9;
    border-right: 2px solid #d6e0e9;
}
.info_card.two .info_card_header_title {
    color: #5aba83;
}
.info_card.three .info_card_header_title {
    color: #e1814d;
}
/* INFO ENDING */
 
/* CONTACTS */
.contact {
    max-width: 1100px;
    margin: auto;
}
.contact_title {
    color: #7a7e83;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 25px;
}
.contact_cardholder {
    display: flex;
    justify-content: space-between;
}
.contact_card {
    display: flex;
    padding: 0 35px;
    height: 75px;
    width: 255px;
    align-items: center;
    border: 2px solid #d8e0e8;
    border-radius: 2px;
    margin-left: 10px;
    transition: all .2s ease-in-out;
    will-change: border-color,color;
}
.contact_card.one {
    margin-left: 0;
}
.contact_card_iconholder {
	position: relative;
}
.contact_card_icon {
    height: 24px;
	margin-right: 20px;
}
.contact_card_icon_hover {
    position: absolute;
	top: 0;
	left: 0;
	height: 24px;
	opacity: 0;
	transition: all .2s ease-in-out;
	will-change:opacity;
}
.contact_card_text {
    color: #7a7e83;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	transition: all .2s ease-in-out;
	will-change:color;
}
/* CONTACT CARD HOVER EFFECTS */
.contact_card:hover {
    border-color: #249cd4;
}
.contact_card:hover .contact_card_text {
    color: #7a7e83;
}
.contact_card:hover .contact_card_icon_hover {
    opacity: 1;
}

body {
    margin: 0px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
input {
    border: none;
    background: none;
}
input:focus {
    outline: none;
    outline-offset: 0;
}