<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="MainConnection" connectionString="Data Source=10.40.90.13; Initial Catalog=TeamSupportBeta;Persist Security Info=True;User ID=Dev-Sql-WebApp;Password=TeamSupportDev;Connect Timeout=500" />
    </connectionStrings>
    <appSettings>
      <add key="AttachmentsBatchSize" value="100" />
      <add key="Source" value="\\Muroc-Web1" />
      <add key="Destination" value="\\dev-data01\Data\MigrationTest" />
    </appSettings>
</configuration>