
div.action {
    margin-bottom:20px;
    padding:0px;
    background-color:white;
    box-shadow:1px 1px 0px rgba(0,0,0,0.1);
}
div.action .header {
    border-bottom:1px solid rgba(0,0,0,0.1);
}
div.action .header .avatar {
    padding:15px;
    width:80px;
}
div.action .header .info {
    padding:10px 0px;
}

div.action .header .indicators {
    padding:10px;
    min-width:100px;
}
div.action .header .applause {
    padding:10px 10px 10px;
    min-width:100px;
}
div.action .header .badges {
    padding:0px;
    min-width:80px;
    text-align:right;
}
div.action .header .number {
    padding:5px 10px 0px 5px;
    font-size:11px;
    font-weight:bold;
}







div.action .header .avatar img {
    width:50px;
}
div.action .header .info .perspective {
    margin-bottom:10px;
    font-size:15px;
    text-transform:capitalize;
}
div.action .header .info .status {
    margin-left:0px;
    font-size:12px;
    opacity:0.9;
    text-transform: uppercase;
}
div.action .header .info .expiration {
    margin-left:0px;
    font-size:12px;
    opacity:0.7;
}
div.action .options {
    margin-bottom:20px;
    padding:20px 20px 20px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    vertical-align:center;
}
div.action .specifics,
div.action .attachments {
    padding:20px;
}
div.action .specifics .title {
    margin-bottom:20px;
    font-size:14px;
}
div.action .specifics .details {
}

div.action .specifics .details img {
    max-width:100% !important;
}
div.action .wc-responses {
    background-color:#F5F5F5;
    margin-right:0px;
    margin-left:0px;
    padding-top:10px;
    padding-left:20px;
}
div.action .wc-options {
    padding-bottom:10px;
    background-color:#F5F5F5;
    margin-right:0px;
    margin-left:0px;
}
div.action .wc-textarea textarea {
    background-color:white !important;
    border-radius:0px;
}

div.action .wc-textarea .wc-textarea-send {
    margin-top:10px;
    float:right;
    border-radius:0px;
}
