
div.action {
    margin-bottom:20px;
    padding:0px;
    background-color:white;
    box-shadow:1px 1px 0px rgba(0,0,0,0.1);
}
div.action .header {
    padding:20px 20px 20px;
    border-bottom:1px solid rgba(0,0,0,0.1);
}
div.action .header .avatar {
    width:80px;
    padding-right:30px;
}
div.action .header .avatar img {
    width:50px;
}
div.action .header .info .perspective {
    margin-bottom:10px;
    font-size:15px;
    text-transform:capitalize;
}
div.action .header .info .status {
    margin-left:0px;
    font-size:12px;
    opacity:0.9;
    text-transform: uppercase;
}
div.action .header .info .expiration {
    margin-left:0px;
    font-size:12px;
    opacity:0.7;
}
div.action .options {
    margin-bottom:20px;
    padding:20px 20px 20px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    vertical-align:center;
}
div.action .specifics {
    padding:20px;
}
div.action .specifics .title {
    margin-bottom:20px;
    font-size:14px;
}
div.action .specifics .details {
    margin-bottom:50px;
}
