

#frame-container {
    position:absolute !important;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    padding-top:0px;
    height: auto !important;
    border: none;
    overflow-x:hidden;
    overflow-y:auto;
    height:100%;
    min-height:100%;
}

#page {
    border:none;
    overflow:auto;
    position:absolute;
    left:0px;
    right:0px;
    width:100%;
    max-width:100%;
    min-height:100%;
}

#page .label {
    font-weight:normal !important;
}





#primary .spacer {
    padding:10px;
}
#primary .paper {
    background-color:white;
    box-shadow:1px 1px 0px rgba(0,0,0,0.1);
}
#primary .spinner {
    width:75px;
}
#primary .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}
#primary .input-group-btn-vertical .btn {
    display:block;
    float:none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
#primary .input-group-btn-vertical .btn:first-child {
    border-top-right-radius: 4px;
}
#primary .input-group-btn-vertical .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}
#primary .input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}
#primary .upload-area {
    margin:0px 0px 30px 20px;
}
#primary #box-tinymce {
    border-top:1px solid rgba(0,0,0,0.1);
    border-bottom:1px solid rgba(0,0,0,0.1);
    border-left:none;
    border-right:none;
}

#primary #box-tinymce .mce-path {
    display:none;
}




#sidebar {
    padding-bottom:100px;
    min-width:300px;
    min-height:100%;
    background-color:rgba(255,255,255,0.7);
}
#sidebar .form-group {
    margin:0px 0px 10px;
    max-height:30px;
    min-height:30px;
    width:100%;
}
#sidebar .form-horizontal .form-label,
#sidebar .form-horizontal label {
    width:100px;
    padding:0px;
    font-size:12px;
    text-align:left;
    text-transform:capitalize;
    color:rgba(0,0,0,0.6);
    font-weight: normal !important;
}
#sidebar .form-horizontal .form-input {
    padding:0px 0px 0px 5px;
}
#sidebar input {
    border:none;
    padding:0px !important;
    vertical-align:top;
    outline:0;
    box-shadow:none;
    background:none;
}
#sidebar input:focus {
    border:none;
    padding:0px !important;
    vertical-align:top;
    outline:0;
    box-shadow:none;
}
#sidebar .selectize-input {
    padding:0px 0px 0px 0px;
    border:0px;
    background:none;
}
#sidebar .selectize-input.focus,
#sidebar .selectize-input .item,
#sidebar .selectize-input .option,
#sidebar .selectize-input input {
    padding:0px !important;
    min-height:20px !important;
    line-height:15px !important;
    font-size:12px !important;
    font-family: 'Roboto' !important;
    border-radius:0px;
    box-shadow:none !important;
    outline:none;
    border:none !important;
    vertical-align:top;
}
#sidebar .selectize-control.single .selectize-input:after {
    content:none;
}





#ticket-properties-area {
    padding:15px;
    width:300px;
    margin-bottom:20px;
}
#ticket-properties-area hr {
    margin:15px auto;
    width:98%;
    border-top:1px solid #d9d9d9;
}
#ticket-properties-area input::-webkit-input-placeholder {
    /* color:#428bca; */
    color:rgba(0,0,0,0.5);
    opacity:1;
    vertical-align:top;
    /*text-decoration:underline;*/
}
#ticket-properties-area .tagContainer input::-webkit-input-placeholder {
    color:#428bca;
    opacity:1;
    vertical-align:top;
    /*text-decoration:underline;*/
}



#ticket-properties-area .hasError .form-label {
    color:#a94442;
}
#ticket-properties-area .hasError .form-input {
    border:1px solid #a94442;
}
