

#menu-container {
    background-color:rgba(255,255,255,0.8);
    box-shadow:0px 2px 0px rgba(0,0,0,0.1);
    min-height:50px;
    padding:10px;
    width:100%;
}

#frame-container {
    position:absolute !important;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    padding-top:0px;
    height:auto !important;
    border:none;
    overflow-x:hidden;
    overflow-y:auto;
    height:100%;
    min-height:100%;
    width:100%;
    max-width:100%;
}

#page-container {
    border:none;
    overflow:auto;
    position:absolute;
    left:0px;
    right:0px;
    width:100%;
    max-width:100%;
    min-height:100%;
}

#page-primary {
    width:100%;
}

#page-sidebar {
    background-color:rgba(249,251,252,1);
    width:300px;
    border-left:2px solid rgba(150,150,150,0.1);
}


#ticket-properties-area {
    padding:10px 0px;
    margin-bottom:20px;
}

#ticket-properties-area hr {
    margin:4px 0px 4px;
    border-top:1px solid rgba(0,0,0,0.05);
    border-bottom:1px solid rgba(255,255,255,0.5);
}


#ticket-properties-area .form-label {
    padding:3px 0px 0px 5px;
    font-family:'Roboto';
    text-align:left;
    vertical-align:top;
    font-size:11.5px;
    color:rgba(0,0,0,0.6);
    font-weight:300;
}







#page .label {
    font-weight:normal !important;
}





div.popover {
    min-width:500px !important;
}
