    body {
        background-color:white;
    }

    .ts-loading {
      background-color: transparent;
      background-image: url('../images/loading/loading2.gif');
      background-repeat: no-repeat;
      background-position: 50% 25%;
      height: 100%;
      min-height: 200px;
    }

    .ticket-toolbar-row {
      background-color: #f5f5f5;
      position: fixed;
      width: 100%;
      z-index: 1000;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    }

    .ticket-toolbar { margin-top: 10px; margin-bottom: 10px; }
    .ticket-source {
      float: left;
      height: 16px;
      width: 16px;
      margin-right: 5px;
      position: relative;
      top: 2px;
    }

    button.ticket-option { background-color: white; }


    .scrollup {
        width: 40px;
        height: 40px;
        opacity: 0.3;
        position: fixed;
        bottom: 50px;
        right: 100px;
        display: none;
        text-indent: -9999px;
        background: url('../Images/icons/icon_top.png') no-repeat;
        border-color: #EEEEEE;
        outline-style: none !important;
        z-index:100;
    }

    .ticket-anchor { padding-left: 5px; display: inline; color: #333333; font-size: 12px;}

    .results-loading {
        color: #999;
        width: 100%;
        text-align: center;
        font-size: 50px;
        position: relative;
        top: -40px;
    }

    .timeline {
        list-style: none;
        padding: 0px 0 20px;
        position: relative;
    }

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
    }
    .timeline-done {display:none;}




     div.ticket-badge {
        -webkit-transition: box-shadow .218s ease,background-color .218s ease,max-width .218s step-end;
        transition: box-shadow .218s ease,background-color .218s ease,max-width .218s step-end;
        font-size: 12px;
    }


    div.ticket-badge > div {
        float: right;
        clear: both;
        height: 20px;
        line-height: 20px;
    }

    div.ticket-badge > div > a {
        -webkit-transition: opacity .218s ease,max-width .218s step-end,visibility .218s step-end;
        transition: opacity .218s ease,max-width .218s step-end,visibility .218s step-end;
        padding: 0 7px;
        cursor: pointer;
        color:white;
        font-size:small;
        font-weight:bold;
    }


    div.ticket-badge > div > a:hover,
    div.ticket-badge > div > a:focus { color: white; }


    :root form.file-upload input { height: auto; }



    /*TL Water Cooler Styles*/
    .timeline-wc-reply > div > * {
        margin-left:5px;
    }

    div.wc-options {
        padding-bottom: 10px;
        background-color: #F5F5F5;
        margin-right: -20px;
        margin-left: -20px;
        padding-left: 20px;
    }




/*    Right Hand Ticket Options*/



    .ticket-content-wrapper {
        float: left;
        width: 100%;
          padding: 10px;
    }

    .ticket-timeline {
        margin-right: 300px;
    }

    .ticket-property-section {
        -webkit-box-shadow: -2px 2px 4px rgba(0,0,0,.15);
        box-shadow: -2px 2px 4px rgba(0,0,0,.15);
        float: left;
        width: 300px;
        margin-left: -300px;
        padding-top: 5px;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-shadow: -2px 2px 4px rgba(0,0,0,.15);
        box-shadow: -2px 2px 4px rgba(0,0,0,.15);
        background-color:white;
        margin-bottom: 10px;
    }

    /*.form-horizontal .control-label {
        height:30px;
    }*/

    .ts-icon { width: 16px; height: 16px; background-image: url(../images/ts_icons_normal.png); }
    .ts-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
    .form-horizontal .control-label {
         min-height:30px;
    }

    .afterSearch {
        display:none;
    }

.cloning-inprogress {
    /*background-color: transparent;*/
    background-image: url('../images/loading/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 25%;
	background-size: 50px;
    height: 100%;
    min-height: 50px;
}

#ticket-number{
    font-size:16px;
}



div.reactions-head {
    padding: 10px;
    font-family: verdana;
}

div.reactions-list {
    background-color: white;
    font-family: verdana;
}
