<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=NA1-SQL01; Persist Security Info=True; User ID=NA1-SQL-WebApp; Password=2016$5HpC-1x72-4ECn-87a9; Initial Catalog=TeamSupport;Connect Timeout=500; Application Name=TSUtil"/>
  </appSettings>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
