.buttonIcon .buttonTextSpan { margin: -37px 0 0 44px; }
.button img {  margin: 3px 15px 0 21px; }
 span.groupBarButtonSpan  { display: inline; } 
 span.groupButtonSpan  { display: inline; } 
.groupButtonTextSpan { margin: -23px 0 0 25px; }
.groupBarButtonTextSpan { margin: -21px 0 0 23px;}