<div class="form-horizontal flexbox flexalign">

    <div class="flexpull form-label">

        <label for="ticket-severity" class="control-label select-label">Severity</label>

    </div>

    <div class="flexpush form-input ticket-input-container">

        <select id="ticket-severity" class="form-control ticket-select  hidden-select  muted-placeholder" placeholder="Add Severity"></select>

    </div>

</div>
