<div class="form-horizontal">
    <div class="flexbox">
        <div class="flex1">
            <div for="ticket-Product" class="form-label">Product</div>
        </div>
        <div class="flex2 form-input ticket-input-container">
            <select id="ticket-Product" class="hidden-select muted-placeholder" placeholder="unassigned">
                <option>unassigned</option>
            </select>
        </div>
    </div>
</div>
