<div class="form-horizontal flexbox">

    <div class="flexpull form-label">

        <label for="ticket-visible" class="select-label">Visible</label>

    </div>

    <div class="flexpush form-input ticket-input-container">

        <div class="checkbox" style="padding-top:5px;">

            <input id="ticket-visible" type="checkbox">

        </div>

    </div>

</div>
