<div class="form-horizontal">
    <div class="flexbox">
        <div class="flex1">
            <div id="ticket-status-label" for="ticket-status" class="form-label" placeholder="Change Status">Status</div>
        </div>
        <div class="flex2 form-input ticket-input-container">
            <select id="ticket-status" class="hidden-select muted-placeholder"></select>
        </div>
    </div>
</div>
