
<div class="form-group ticket-group">

    <div class="tagContainer" style="padding:10px;">

        <input id="ticket-UserQueue-Input" class="tagInput hidden-select" type="text" placeholder="Add to Queue">

        <span id="ticket-UserQueue" style="z-index:100;"></span>

    </div>

</div>
