<div class="form-horizontal">

    <div class="form-group form-group-sm flexbox">

        <div class="flexpull form-label">

            <label for="ticket-type" class="select-label">Type</label>

        </div>

        <div class="flexpush form-input ticket-input-container">

            <select id="ticket-type" class="ticket-select hidden-select  muted-placeholder" placeholder="unassigned"></select>

        </div>

    </div>

</div>
