<div class="form-horizontal flexbox flexalign">

    <div class="flexpull form-label">

        <label for="ticket-Community" class="control-label select-label">Community</label>

    </div>

    <div class="flexpush form-input ticket-input-container">

        <select id="ticket-Community" class="form-control  hidden-select  muted-placeholder" placeholder="Change Community"><option>unassigned</option></select>

    </div>

</div>
