
<div class="form-group ticket-group">

    <div class="tagContainer" style="padding:10px;">

        <input id="ticket-Inventory-Input" class="tagInput hidden-select" type="text" placeholder="Add Inventory">

        <span id="ticket-Inventory" style="z-index:100;"></span>

    </div>

</div>
