<div class="form-horizontal">
  <div class="form-group form-group-sm">
    <label for="ticket-Community" class="col-sm-4 control-label select-label">Community</label>
    <div class="col-sm-8 ticket-input-container">
      <select id="ticket-Community" class="form-control  hidden-select  muted-placeholder" placeholder="Change Community"><option>unassigned</option></select>
    </div>
  </div>
</div>
