<div class="form-horizontal flexbox">

    <div class="flexpull form-label">

        <label for="ticket-DueDate" class="col-sm-4 control-label">Due Date</label>

    </div>

    <div class="flexpush form-input ticket-input-container">

        <div id="ticket-duedate-container" class="ticket-input-container" style="padding-top:6px;">

            <!--<input id="ticket-DueDate" class="form-control" type="text" />-->

        </div>

    </div>

</div>
