<div class="form-horizontal">

    <div class="form-group form-group-sm flexbox">

        <div class="flexpull form-label">

            <label for="ticket-Product-Reported-Version" class="select-label">Reported <abbr title="Version">Ver.</abbr></label>

        </div>

        <div class="flexpush form-input ticket-input-container">

            <select id="ticket-Versions" class="hidden-select  muted-placeholder"></select>

        </div>

    </div>

</div>
