<div class="form-horizontal" style="margin-top:20px;">
    <div class="flexbox">
        <div class="flex1">
            <div for="ticket-assigned" class="form-label">Assigned</div>
        </div>
        <div class="flex2 form-input ticket-input-container">
            <select id="ticket-assigned" class="hidden-select muted-placeholder" placeholder="unassigned">
                <option>unassigned</option>
            </select>
        </div>
    </div>
</div>
