
<div class="form-horizontal flexbox">

    <div class="flexpull form-label">

        <label for="ticket-isKB" class="control-label">KB</label>

    </div>

    <div class="flexpush form-input ticket-input-container">

        <div class="checkbox" style="padding-top:5px;">

            <input id="ticket-isKB" type="checkbox">

        </div>

    </div>

</div>


<div class="form-horizontal flexbox">

    <div class="flexpull form-label" id="ticket-group-KBCat">

        <label for="ticket-KB-Category" class="control-label select-label">Category</label>

    </div>

    <div class="flexpush form-input ticket-input-container">

        <select id="ticket-KB-Category" class="form-control  hidden-select  muted-placeholder">

            <option>Unassigned</option>

        </select>
    </div>

</div>
