<div class="form-horizontal flexbox flexalign">

    <div class="flexpull form-label">

        <label for="ticket-group" class="control-label select-label">Group</label>

    </div>

    <div class="flexpush form-input ticket-input-container">

        <select id="ticket-group" class="form-control hidden-select muted-placeholder" placeholder="Assign Group"><option>Unassigned</option></select>

    </div>

</div>
