<div class="form-horizontal flexbox">

    <div class="flexpull form-label">

        <label for="ticket-type" class="select-label">Type</label>

    </div>

    <div class="flexpush form-input ticket-input-container">

        <select id="ticket-type" class="ticket-select hidden-select  muted-placeholder" placeholder="Change Type"></select>

    </div>

</div>
