<div class="form-horizontal flexbox">

    <div class="flexpull form-label">

        <label for="ticket-Product" class="select-label">Product</label>

    </div>

    <div class="flexpush form-input ticket-input-container">

        <select id="ticket-Product" class="hidden-select  muted-placeholder" placeholder="Choose Product">

            <option>unassigned</option>

        </select>

    </div>

</div>
