<div class="form-horizontal flexbox flexalign">

    <div class="flexpull form-label">

        <label id="ticket-status-label" for="ticket-status" class="control-label select-label" placeholder="Change Status">Status</label>

    </div>

    <div class="flexpush form-input ticket-input-container">

        <select id="ticket-status" class="form-control hidden-select muted-placeholder"></select>

    </div>

</div>
