<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TeamSupport.DataManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="TeamSupport.DataManager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="MainConnection" value="Application Name=KJ.teamsupport.com;Data Source=10.42.42.101;Initial Catalog=TeamSupport;Persist Security Info=True;User ID=webuser;Password=3209u@j#*29"/>
    <add key="MainConnectionX" value="Application Name=app.teamsupport.com;Data Source=localhost;Initial Catalog=TeamSupportDev; Integrated Security=True"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="OrganizationActionsFilterByImportIDsList" value="" />
  </appSettings>
  <userSettings>
    <TeamSupport.DataManager.Properties.Settings>
      <setting name="SpreadSheetSourceFileName" serializeAs="String">
        <value/>
      </setting>
      <setting name="SpreadSheetQuery" serializeAs="String">
        <value/>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormClientSize" serializeAs="String">
        <value>849, 544</value>
      </setting>
      <setting name="MySqlServer" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="MySqlUser" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="MySqlPassword" serializeAs="String">
        <value/>
      </setting>
      <setting name="MySqlDB" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastOrgID" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SpreadSheetQueryFileName" serializeAs="String">
        <value>
        </value>
      </setting>
    </TeamSupport.DataManager.Properties.Settings>
    <TeamSupport.DataManager.Settings>
      <setting name="SpreadSheetFileName" serializeAs="String">
        <value/>
      </setting>
      <setting name="ImportFileName" serializeAs="String">
        <value/>
      </setting>
    </TeamSupport.DataManager.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
