<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TeamSupport.DataManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TeamSupport.DataManager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TeamSupport.DataManager.Properties.Settings.TeamSupportConnectionString"
      connectionString="Data Source=KEVIN-M9340F;Initial Catalog=TeamSupport;Persist Security Info=True;User ID=sa;Password=muroc"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MainConnection" value="Data Source=localhost;Initial Catalog=TeamSupport;Persist Security Info=True;User ID=sa;Password=muroc" />
  </appSettings>
  <userSettings>
    <TeamSupport.DataManager.Properties.Settings>
      <setting name="SpreadSheetSourceFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="SpreadSheetQuery" serializeAs="String">
        <value />
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormClientSize" serializeAs="String">
        <value>849, 544</value>
      </setting>
      <setting name="MySqlServer" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="MySqlUser" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="MySqlPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="MySqlDB" serializeAs="String">
        <value />
      </setting>
      <setting name="SpreadSheetQueryFileName" serializeAs="String">
        <value>
        </value>
      </setting>
      <setting name="LastOrgID" serializeAs="String">
        <value>-1</value>
      </setting>
    </TeamSupport.DataManager.Properties.Settings>
    <TeamSupport.DataManager.Settings>
      <setting name="SpreadSheetFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="ImportFileName" serializeAs="String">
        <value />
      </setting>
    </TeamSupport.DataManager.Settings>
  </userSettings>
</configuration>

