<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MainConnection" connectionString="Application Name=SignalR;Data Source=dev-sql.corp.teamsupport.com; Initial Catalog=TeamSupportBeta;Persist Security Info=True;User ID=Dev-Sql-WebApp;Password=TeamSupportDev;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies/>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.5"/>
    <httpRuntime maxRequestLength="4096" executionTimeout="20" appRequestQueueLimit="100000" targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <modules/>
    <handlers/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Location" value="na1"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>