<div class="form-horizontal">
    <div class="flexbox">
        <div class="flex1">
            <div for="ticket-type" class="form-label">Type</div>
        </div>
        <div class="flex2 form-input ticket-input-container">
            <select id="ticket-type" class="ticket-select hidden-select  muted-placeholder" placeholder="unassigned"></select>
        </div>
    </div>
</div>
