<div class="form-horizontal">
    <div class="flexbox">
        <div class="flex1">
            <div for="ticket-visible" class="form-label">Visible</div>
        </div>
        <div class="flex2 form-input ticket-input-container">
            <div class="checkbox" style="padding-top:5px;">
                <input id="ticket-visible" type="checkbox">
            </div>
        </div>
    </div>
</div>
