<div class="form-group ticket-group">
    <div class="tagContainer">
        <input id="ticket-AssociatedTickets-Input" class="tagInput hidden-select" type="text" placeholder="Add Related Ticket">
        <span id="ticket-AssociatedTickets" style="z-index:100;"></span>
    </div>
</div>
