
<div class="form-horizontal" style="margin-top:20px;">
    <div class="flexbox">
        <div class="flex1">
            <div class="form-label">Assigned</div>
        </div>
        <div class="flex2">
            <select id="ticket-assigned" placeholder="unassigned">
                <option>unassigned</option>
            </select>
        </div>
    </div>
</div>
