<div class="form-horizontal">
    <div class="flexbox">
        <div class="flex1">
            <div class="form-label">Group</div>
        </div>
        <div class="flex2">
            <select id="ticket-group" placeholder="unassigned">
                <option>unassigned</option>
            </select>
        </div>
    </div>
</div>
