<div class="form-horizontal">
    <div class="flexbox">
        <div class="flex1">
            <div class="form-label" for="ticket-visible" class="select-label">Visible</div>
        </div>
        <div class="flex2">
            <input id="ticket-visible" type="checkbox">
        </div>
    </div>
</div>
