<div class="form-horizontal ticket-group">
    <div class="tagContainer">
        <input id="ticket-Customers-Input" class="tagInput hidden-select" type="text" placeholder="Add/Create Customer">
        <span id="ticket-Customer" style="z-index:100;"></span>
    </div>
</div>
