<div class="form-horizontal">
    <div class="flexbox">
        <div class="flex1">
            <div class="form-label" for="ticket-Product-Reported-Version" class="select-label">Reported <abbr title="Version">Ver.</abbr></div>
        </div>
        <div class="flex2">
            <select id="ticket-Versions" class="hidden-select"></select>
        </div>
    </div>
</div>
