<div class="form-horizontal">
    <div class="tagContainer">
        <div class="form-label">Attachments</div>
        {{#each Attachments}}
        <a target="_blank" href="/dc/1/attachments/{{AttachmentID}}"><i class="glyphicon glyphicon-paperclip"></i>{{FileName}}</a><br>
        {{/each}}
    </div>
</div>
