<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bootstrap.v3.Datetimepicker" version="2.1.20" targetFramework="net40" />
  <package id="CsQuery" version="1.3.4" targetFramework="net40" />
  <package id="DDay.iCal" version="1.0.2.575" targetFramework="net40" />
  <package id="HtmlSanitizer" version="2.0.5623.30465" targetFramework="net40" />
  <package id="jQuery" version="1.9.1" targetFramework="net40" />
  <package id="json2" version="1.0.2" targetFramework="net40" />
  <package id="Less.js" version="1.5.1" targetFramework="net40" />
  <package id="Moment.js" version="2.8.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net40" />
  <package id="OpenTok" version="2.3.0" targetFramework="net40" />
  <package id="RestSharp" version="105.0.0" targetFramework="net40" />
  <package id="Twitter.Bootstrap.Less" version="3.0.3" targetFramework="net40" />
</packages>