<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="BackDoorPW1" value="xxx" />
        <add key="SessionTimeOut" value="999999" />
        <add key="SignalRUrl" value="https://signalr.alpha.teamsupport.com/signalr" />
        <add key="Telerik.Skin" value="Office2007" />
        <add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="MUROC_encryption_key_for TeamSupport.........." />
        <add key="IndexerPath" value="\\ALPHA-APP01\Indexes" />
        <add key="NewRelic.AppName" value="Alpha" />
        <add key="owin:AutomaticAppStartup" value="true" />
        <add key="TwilioAccountSid" value="AC13390b4e34ee2d45d92df179bd82eeae" />
        <add key="TwilioAuthToken" value="9c1b44818538851f2ec9241dce08183e" />
        <add key="TwilioNumber" value="+1 (972) 590-6172" />
        <add key="RemoteLoginKey" value="ServiceURL1-5FE36B63-4CB4-4FC5-BA67-480E563A1475" />
    </appSettings>
    <connectionStrings>
        <add name="MainConnection" connectionString="Application Name=App;Data Source=dev-sql.corp.teamsupport.com; Initial Catalog=TeamSupportAlpha;Persist Security Info=True;User ID=Dev-Sql-WebApp;Password=TeamSupportDev;Connect Timeout=500" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
            </assemblies>
        </compilation>
        <httpCookies requireSSL="false" />
        <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="120" />
        <authentication mode="Forms">
            <forms name="TeamSupport_Session_TSDEV.COM" loginUrl="Login.aspx" timeout="120" slidingExpiration="false" requireSSL="false" />
        </authentication>
        <machineKey validationKey="B396EC221399EFA9D750AF5DEA2E57FC28CA2A962D44CC8642F01B8E8ED1AC0A5894C80D9ADD2CF2073B921EB1D2D5C920F7B65B2152410970E3171A4620A02A" decryptionKey="84AC8E344CB8B9F4114372E6FC76BD39ACD6325B98A7688D55A67B5F58BDAE83" validation="SHA1" decryption="AES" compatibilityMode="Framework20SP2" />
        <authorization>
            <deny users="?" />
        </authorization>
        <customErrors mode="Off" defaultRedirect="Oops.aspx" redirectMode="ResponseRewrite" />
        <pages viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
            <controls>
                <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
            </controls>
        </pages>
        <httpRuntime maxRequestLength="102400" executionTimeout="3600" />
        <webServices>
            <protocols>
                <add name="HttpGet" />
                <add name="HttpPost" />
            </protocols>
        </webServices>
    </system.web>
    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="2147483644" />
            </webServices>
        </scripting>
    </system.web.extensions>
    <location path="Telerik.RadUploadProgressHandler.ashx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="upload">
        <system.web>
            <httpRuntime executionTimeout="999999" maxRequestLength="2097151" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="999999" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false" />
        </system.web>
    </location>
    <location path="Telerik.Web.UI.WebResource.axd">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="dc">
        <system.web>
            <httpRuntime executionTimeout="999999" maxRequestLength="2097151" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="999999" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false" />
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="chartexport">
        <system.web>
            <httpRuntime requestValidationMode="2.0" />
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="reportdata">
        <system.web>
            <httpRuntime executionTimeout="999999" maxRequestLength="2097151" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="999999" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false" />
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="chat">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="hub">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="api">
        <system.web>
            <httpRuntime executionTimeout="999999" maxRequestLength="2097151" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="999999" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false" />

            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Services/PublicService.asmx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Services/LoginService.asmx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="App_Offline.htm">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="ApiUrls.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="SignUpThanks.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="ResetPassword.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="SignUp.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
	<location path="Login.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
	<location path="Login2.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Login.html">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="LoginTwoStep.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="ServiceStatus.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="SessionExpired.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="AnotherSession.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Message.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="TSTestAlive.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>


    <location path="Wiki/justarticle.aspx">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="Wiki/WikiDocs">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="images">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="08:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="css_5">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="08:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="js_5">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="08:00:00" />
            </staticContent>
        </system.webServer>

    </location>
    <location path="signup">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="SignUpThanks.html">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="vcr">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="08:00:00" />
            </staticContent>
        </system.webServer>
    </location>
	<location path="screen/media/applet">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="WebDAVModule" />
            <add name="RestCommandModule" type="TeamSupport.Api.RestCommandModule" />
            <add name="SessionModule" type="TeamSupport.Handlers.SessionModule" />
            <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
            <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
        </modules>
        <handlers>
            <remove name="WebDAV" />
            <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
            <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
            <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
            <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
            <add name="TeamSupport_API" verb="*" path="api/*" type="TeamSupport.Api.RestCommandHandler, TeamSupport.Api" />
            <add name="TeamSupport_ResourceHandler" verb="*" path="vcr/*" type="TeamSupport.Handlers.ResourceHandler, TeamSupport.Handlers" />
            <add name="TeamSupport_ContentHandler" verb="*" path="dc/*" type="TeamSupport.Handlers.ContentHandler, TeamSupport.Handlers" />
            <add name="TeamSupport_ReportDataHandler" verb="*" path="reportdata/*" type="TeamSupport.Handlers.ReportDataHandler, TeamSupport.Handlers" />
            <add name="TeamSupport_Chart_ChartHandler" verb="*" path="chartexport" type="TeamSupport.Handlers.Chart.ChartHandler, TeamSupport.Handlers" />
            <add name="TeamSupport_SignUpHandler" verb="*" path="signup/fn/*" type="TeamSupport.Handlers.SignUpHandler, TeamSupport.Handlers" />
            <add name="TeamSupport_UserStatusHandler" verb="*" path="userstatus/*" type="TeamSupport.Handlers.UserStatusHandler, TeamSupport.Handlers" />
            <add name="TeamSupport_ChatStatusHandler" verb="*" path="chatstatus" type="TeamSupport.Handlers.ChatStatusHandler, TeamSupport.Handlers" />
            <add name="TeamSupport_UploadHandler" verb="*" path="upload" type="TeamSupport.Handlers.UploadHandler, TeamSupport.Handlers" />
            <add name="TeamSupport_HubHandler" verb="*" path="hub" type="TeamSupport.Handlers.HubHandler, TeamSupport.Handlers" />
            <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
            <add name="TinyMce_SpellChecker" verb="*" path="TinyMCEHandler.aspx" type="Moxiecode.TinyMCE.Web.HttpHandler, Moxiecode.TinyMCE" />
        </handlers>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
        </httpErrors>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="4294967295" />
            </requestFiltering>
        </security>
		<httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization" />
                <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE" />
                <remove name="X-Powered-By" />
                <add name="X-UA-Compatible" value="IE=edge" />
                <add name="Server-ID" value="trunk.tsdev.com" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".jnlp" mimeType="application/x-java-jnlp-file" />
        </staticContent>

    </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>