#health-ticket {
    position:relative;
    padding:2px;
    background-color: #EEEEEE;
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(0,0,0,0.05);
    box-shadow: inset 1px 1px 0px 0px rgba(0,0,0,0.05);
    border-radius:5px;
    border:3px solid rgba(0,0,0,0.2);
    max-width:100px;
    height:29px;

}

#health-meter {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:1000000;
    background-color:#4CAF50;
    width:0px;
}

#health-unknown {
    position:absolute;
    z-index:1000001;
    top:4px;
    left:0px;
    right:0px;
    opacity:0.30;
}

#health-message {
    position:absolute;
    z-index:1000001;
    top:4px;
    left:0px;
    right:0px;
    opacity:0.30;
    text-align:left;
    font-size:18px;
    line-height:18px;
    vertical-align:middle;
    color:rgba(255,255,255,0.7);
    text-shadow:1px 1px 0px rgba(0,0,0,0.1);
    padding:2px 5px;
}
